USE [Core1]
GO
/****** Object:  StoredProcedure [dbo].[Proc_TRAC_Populate_COR_X_LOAN_FUND_DTL]    Script Date: 12/31/2024 8:49:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[Proc_TRAC_Populate_COR_X_LOAN_FUND_DTL]    
AS    
    
DECLARE @JobID INT;    
DECLARE @TEMPTIME DateTime;    
    
SET @JobID = (SELECT isnull(MAX(JobID),0)    
      FROM MC_JobID    
      INNER JOIN MC_SourceFile    
      ON MC_JobID.SourceFileID = MC_SourceFile.SourceFileID    
      WHERE logicalName = 'TRACLoanFundDetail'    
      AND SysProcessedLogID = (SELECT MAX(SysProcessedLogID)    
FROM MC_SysProcessedLog    
WHERE SystemID = 49));    
SET @TEMPTIME = GETDATE();    
    
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[COR_X_LOAN_FUND_DTL_TODAY]') AND type in (N'U'))    
BEGIN    
DROP TABLE [dbo].COR_X_LOAN_FUND_DTL_TODAY          
END         
          
SELECT * INTO CORE1.DBO.COR_X_LOAN_FUND_DTL_TODAY FROM COREETL.DBO.COR_X_LOAN_FUND_DTL WHERE 1=2      
    
INSERT INTO CORE1.dbo.COR_X_LOAN_FUND_DTL_TODAY    
(AGREEMENT_ID,    
 ACCOUNTING_DATE,    
 SRC_FUND_ID,    
 JOB_ID,    
 DATETIMESTAMP,    
 DOLLAR_AMT,    
 REC_INSRT_DATE,    
 REC_INSRT_NAME,    
 REC_UPDT_DATE,    
 REC_UPDT_NAME,    
 ADU)    
SELECT GenIDFAAgreement.AgreementID AS AGREEMNET_ID,    
  ACCOUNTING_DATE,    
  Case when GENID.SRC_FUND_ID IS NULL THEN '999999999' ELSE GENID.SRC_FUND_ID END,    
  @JobID,    
  @TEMPTIME,    
  CONVERT(DECIMAL(18,2),SUM(CONVERT(DECIMAL(18,2),ISNULL(TL.OUTSTANDING_PRINCIPAL_BALANCE,0)))),    
  @TEMPTIME,    
  CASE WHEN GENID.SRC_FUND_ID IS NULL THEN (RTRIM(TL.SRC_SYS_ATTR_KEY1_TEXT)+'+'+RTRIM(TL.SRC_SYS_ATTR_KEY2_TEXT)+'+'+RTRIM(TL.SRC_SYS_ATTR_KEY3_TEXT)+'+'+RTRIM(TL.SRC_SYS_ATTR_KEY4_TEXT)+'+'+RTRIM(TL.SRC_SYS_ATTR_KEY5_TEXT))    
  ELSE '420' END,    
  @TEMPTIME,    
  '420',    
  'U'    
FROM TRACLoanAssetRecord TL    
INNER JOIN GenIDFAAgreement    
  ON GenIDFAAgreement.SourceSystemKey1 = TL.AGRMNT_SYS_ATTR_KEY1_TEXT    
  AND GenIDFAAgreement.SourceSystemKey2 = TL.AGRMNT_SYS_ATTR_KEY2_TEXT    
  AND GenIDFAAgreement.SourceSystemKey3 = TL.AGRMNT_SYS_ATTR_KEY3_TEXT    
  AND GenIDFAAgreement.SourceSystem = TL.MNTC_SYS_CODE    
LEFT OUTER JOIN GENIDSRCFUND GENID    
  ON  GENID.SOURCESYSTEM = TL.MNTC_SYS_CODE    
AND rtrim(GENID.SOURCESYSTEMKEY1) = rtrim(TL.SRC_SYS_ATTR_KEY1_TEXT)    
      --  AND GENID.SOURCESYSTEMKEY2 = TL.SRC_SYS_ATTR_KEY2_TEXT    
AND rtrim(GENID.SOURCESYSTEMKEY3) = rtrim(TL.SRC_SYS_ATTR_KEY3_TEXT)    
  AND rtrim(GENID.SOURCESYSTEMKEY4) = rtrim(TL.SRC_SYS_ATTR_KEY4_TEXT)    
--AND rtrim(GENID.SOURCESYSTEMKEY5) = rtrim(TL.SRC_SYS_ATTR_KEY5_TEXT )    
--LEFT OUTER JOIN TRACFUNDS TF    
--  ON TF.FUND_TYPE = 'LOAN'    
--AND TF.KEY1 = TL.SRC_SYS_ATTR_KEY1_TEXT    
--AND TF.KEY2 = TL.SRC_SYS_ATTR_KEY2_TEXT    
--AND TF.KEY3 = TL.SRC_SYS_ATTR_KEY3_TEXT    
--  AND TF.KEY4 = TL.SRC_SYS_ATTR_KEY4_TEXT    
WHERE TL.MNTC_SYS_CODE = 'TRAC'     
GROUP BY GenIDFAAgreement.AgreementID,ACCOUNTING_DATE,GENID.SRC_FUND_ID,(RTRIM(TL.SRC_SYS_ATTR_KEY1_TEXT)+'+'+RTRIM(TL.SRC_SYS_ATTR_KEY2_TEXT)+'+'+RTRIM(TL.SRC_SYS_ATTR_KEY3_TEXT)+'+'+RTRIM(TL.SRC_SYS_ATTR_KEY4_TEXT)+'+'+RTRIM(TL.SRC_SYS_ATTR_KEY5_TEXT))    
    
INSERT INTO COREERRLOG.DBO.REPERRORLOG(ERRORDATE, ERRORMESSAGE, ERRORDATA, ERRORSOURCE, SYSTEM)    
SELECT GETDATE(),    
 'UNABLE TO LOAD '+CAST(CNT AS VARCHAR)+' RECORD(S) INTO COR_X_LOAN_FUND_DTL DUE TO A SRC_FUND_ID OF 999999999',    
 'REFER TO ERR TABLE FOR DETAIL',    
 'REP',    
 'TRAC'    
FROM (SELECT COUNT(*) AS CNT FROM CORE1.DBO.COR_X_LOAN_FUND_DTL_TODAY WHERE SRC_FUND_ID = 999999999) Q    
WHERE CNT > 0    
    
INSERT INTO COREERRLOG.DBO.ERR_X_LOAN_FUND_DTL    
SELECT *,    
 (SELECT DISTINCT @@IDENTITY FROM COREERRLOG.DBO.REPERRORLOG)    
FROM CORE1.DBO.COR_X_LOAN_FUND_DTL_TODAY    
WHERE SRC_FUND_ID = 999999999;    
    
DELETE CORE1.DBO.COR_X_LOAN_FUND_DTL_TODAY    
WHERE SRC_FUND_ID =999999999;    
    
----- If a SRC_FUND_ID was 999999999 and has been corrected, move to COR table and delete ERR row    
    
INSERT INTO CORE1.DBO.COR_X_LOAN_FUND_DTL_TODAY    
 (    
  AGREEMENT_ID,    
 ACCOUNTING_DATE,    
 SRC_FUND_ID,    
 JOB_ID,    
 DATETIMESTAMP,    
 DOLLAR_AMT,    
 REC_INSRT_DATE,    
 REC_INSRT_NAME,    
 REC_UPDT_DATE,    
 REC_UPDT_NAME,    
 ADU    
 )    
SELECT    
 A.AGREEMENT_ID,    
 A.ACCOUNTING_DATE,    
 A.SRC_FUND_ID,    
 @JOBID,    
 @TEMPTIME,    
 A.DOLLAR_AMT,    
 @TEMPTIME,    
 '420',    
 @TEMPTIME,    
 '420',    
 ADU     
FROM COREERRLOG.DBO.ERR_X_LOAN_FUND_DTL A    
INNER JOIN COREERRLOG.DBO.REPERRORLOG B    
ON  A.REPERRORID = B.ERRORID    
WHERE B.ERRORMESSAGE LIKE '%DUE TO A SRC_FUND_ID OF 999999999'    
  AND A.SRC_FUND_ID <> 999999999;    
    
DELETE A    
FROM COREERRLOG.DBO.ERR_X_LOAN_FUND_DTL A    
INNER JOIN COREERRLOG.DBO.REPERRORLOG B    
ON  A.REPERRORID = B.ERRORID    
WHERE B.ERRORMESSAGE LIKE '%DUE TO A SRC_FUND_ID OF 999999999'    
  AND A.SRC_FUND_ID <> 999999999;    
        
INSERT INTO COREETL.DBO.COR_X_LOAN_FUND_DTL SELECT DISTINCT * FROM CORE1.DBO.[COR_X_LOAN_FUND_DTL_TODAY]
GO
