USE [Core1]
GO
/****** Object:  StoredProcedure [dbo].[Z_USP_OmniAIBPBeneficiaryAgrmntPartyTelFaxnumAddr]    Script Date: 12/31/2024 8:49:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[Z_USP_OmniAIBPBeneficiaryAgrmntPartyTelFaxnumAddr](
@START_TIME DATETIME OUT,
@ROW_CNT INT OUT,
@END_TIME DATETIME OUT,
@DRTN_DESC VARCHAR(12) OUT,
@MPPNG_NAME VARCHAR(50) OUT,
@COM_ENT_NAME VARCHAR(50) OUT)
 AS
/*
CREATE DATETIME: Feb 25 2005  8:44AM
SERVER NAME: COREDEV1
COMMENTS: MARK FLETCHER WROTE THIS PROCEDURE VERY EARLY IN THE MORNING
SO, IF YOU HAVE ANY QUESTIONS PLEASE CONTACT MARK FLETCHER! X-3656
*/
SET NOCOUNT ON
SET LOCK_TIMEOUT -1
BEGIN
	SELECT @START_TIME = GETDATE()
	SELECT @MPPNG_NAME = 'OmniAIBPBeneficiaryAgrmntPartyTelFaxnumAddr'
	SELECT DISTINCT @COM_ENT_NAME = COM_ENT_NAME
	FROM COREDEV1.META_DATA_REPOSITORY.DBO.MDE_SRC_ATTR_COM_ATTR
	WHERE MPPNG_NAME = 'OmniAIBPBeneficiaryAgrmntPartyTelFaxnumAddr'
	INSERT INTO CORE1.dbo.COM_TELNUM (
		[ADU],
		[UNFORMATTED_TELNUM],
		[SRC_CYCLE_DATE],
		[TELNUM_ASSOC_TYPE_CODE],
		[TELNUM_TYPE_CODE],
		[RECORD_TYPE_DESC],
		[MNTC_SYSTEM_CODE],
		[JOB_ID],
		[CONTACT_RESTRICTED_IND],
		[TELNUM_FROM_DATE],
		[TELNUM_THRU_DATE],
		[TELNUM_SRC_TEXT],
		[TELNUM1_KEY],
		[TELNUM2_KEY],
		[TELNUM3_KEY],
		[PARTY_SRC_TEXT],
		[PARTY1_KEY],
		[PARTY2_KEY],
		[PARTY3_KEY],
		[MNTC_SYS_ATTR_SRC_TEXT],
		[MNTC_SYS_ATTR1_KEY],
		[MNTC_SYS_ATTR2_KEY])
	SELECT 
		[ADU],
		[AI-FAX-NUM],
		CASE WHEN ISDATE(SUBSTRING([MSTR-ExtractDate],2,8))=1 THEN SUBSTRING([MSTR-ExtractDate],2,8) ELSE NULL END AS [MSTR-ExtractDate], 
		'AGRMNT' [LIT-TELNUM_ADDR_ASSOC_TYPE],
		'HFAX' [LIT-TELNUM_ADDR_TYPE_CODE],
		'AI' [LIT-RECORD-TYPE-DESC],
		'OMNI' [LIT-SRC-SYSTEM],
		[JobID],
		'0' [LIT-ADDRESS_RESRICTED],
		[MSTR-ETL-AI-FAX-NUM-INTRDCTN-DATE],
		'12/31/2999' [LIT-THRU-DATE],
		'OMNIAIBENE' [LIT-BENE-RECORD-TYPE-DESC],
		[AI-PLAN-NUM],
		[AI-PART-ID],
		[AI-SEQ-NUM],
		'OMNIAIBENE' [LIT-BENE-RECORD-TYPE-DESC],
		[AI-PLAN-NUM],
		[AI-PART-ID],
		[AI-SEQ-NUM],
		'OMNIAIBENE' [LIT-BENE-RECORD-TYPE-DESC],
		'OmniAIBPBeneficiaryAgrmntPartyTelFaxnumAddr' [LIT-SRC-ENT-NAME],
		'COR_AGRMNT_TELNUM' [LIT-ATTRID-TAB]
	FROM	COREDEV1.CORE1.DBO.VW_OmniAIBPBeneficiaryAgrmntPartyTelFaxnumAddr
	SELECT @ROW_CNT = @@ROWCOUNT
	SELECT @END_TIME = GETDATE()
	SELECT @DRTN_DESC = CONVERT(VARCHAR,@END_TIME-@START_TIME,114)
RETURN
END

GO
