USE [Core1]
GO
/****** Object:  StoredProcedure [dbo].[USP_GenIDCPSalesPartyOtherKey]    Script Date: 12/31/2024 8:49:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USP_GenIDCPSalesPartyOtherKey]
 AS

	/*
	CREATE DATETIME: Jul  7 2008  4:03PM
	COMMENTS: THIS PROCEDURE LOADS THE GenIDCPSalesPartyOtherKey TABLE PULLING FROM THE COM_SALES_PARTY_OTHER_KEY COMMON TABLE.
	*/

	SET NOCOUNT ON
	SET LOCK_TIMEOUT -1


	INSERT INTO GenIDCPSalesPartyOtherKey
	(SOURCESYSTEM,SOURCESYSTEMKEY1,SOURCESYSTEMKEY2,SOURCESYSTEMKEY3,SOURCESYSTEMKEY4,SOURCESYSTEMKEY5,JOBID)
	SELECT DISTINCT A.SALES_PARTY_OTHER_KEY_SRC_TEXT,ISNULL(A.SALES_PARTY_OTHER_KEY1_KEY,'^'),ISNULL(A.SALES_PARTY_OTHER_KEY2_KEY,'^'),ISNULL(A.SALES_PARTY_OTHER_KEY3_KEY,'^'),ISNULL(A.SALES_PARTY_OTHER_KEY4_KEY,'^'),ISNULL(A.SALES_PARTY_OTHER_KEY5_KEY,'^'), ISNULL(A.JOB_ID,1)
	FROM COM_SALES_PARTY_OTHER_KEY A
	LEFT OUTER JOIN
	GenIDCPSalesPartyOtherKey B
	ON A.SALES_PARTY_OTHER_KEY_SRC_TEXT = B.SOURCESYSTEM AND ISNULL(A.SALES_PARTY_OTHER_KEY1_KEY,'^') = B.SOURCESYSTEMKEY1 AND ISNULL(A.SALES_PARTY_OTHER_KEY2_KEY,'^') = B.SOURCESYSTEMKEY2 AND ISNULL(A.SALES_PARTY_OTHER_KEY3_KEY,'^') = B.SOURCESYSTEMKEY3 AND ISNULL(A.SALES_PARTY_OTHER_KEY4_KEY,'^') = B.SOURCESYSTEMKEY4 AND ISNULL(A.SALES_PARTY_OTHER_KEY5_KEY,'^') = B.SOURCESYSTEMKEY5
	WHERE B.SOURCESYSTEM IS NULL 

	
RETURN 


GO
