USE [Core1]
GO
/****** Object:  StoredProcedure [dbo].[NREP_COMP_STATUS_BYID]    Script Date: 12/31/2024 8:49:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[NREP_COMP_STATUS_BYID](@ASYSPROCESSEDLOGID INT, @ASYSTEMID INT, @AREPLOADTABLEID INT, @ADONE CHAR(1) OUTPUT) AS

        --THIS PROC TELLS REPLICA IF A PARTICULAR TABLE IS ALREADY LOADED OR NOT
        SELECT 
                @ADONE = D.COMPLETED
        FROM  
                PRM_REPLOADTABLES A
                INNER JOIN
                PRM_REPCORETABLES B
                ON 
                A.REPCORETABLEID = B.REPCORETABLEID
                AND A.REPLOADTABLEID = @AREPLOADTABLEID
                AND A.SYSTEMID = @ASYSTEMID
                INNER JOIN 
                MC_SEGMENT D
                ON 
                D.SEGMENTINSTANCE = DBO.REP_STAGENAME(B.CORETABLENAME,A.REPLOADTABLEID) 
                AND D.SEGMENT = 'REPLICA TRANSFER'
                AND D.SYSPROCESSEDLOGID = @ASYSPROCESSEDLOGID
                AND D.COMPLETED = 'T'
        
        IF @ADONE IS NULL
        BEGIN
                SELECT @ADONE = 'F'
        END

RETURN


GO
