USE [Core1]
GO
/****** Object:  StoredProcedure [dbo].[USP_GENIDDAILYDTL]    Script Date: 12/31/2024 8:49:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE  PROCEDURE [dbo].[USP_GENIDDAILYDTL]
AS	

	SET NOCOUNT ON
	SET LOCK_TIMEOUT -1
	INSERT INTO GenIDMrnnngStarDailyDtl
	(SOURCESYSTEMKEY1,JOBID)
	SELECT DISTINCT SECID_NUM,ISNULL(A.JOB_ID,1)
	FROM COM_MRNNGSTR_DAILY_DTL A
	LEFT OUTER JOIN
	GenIDMrnnngStarDailyDtl B
	ON A.SECID_NUM = B.SOURCESYSTEMKEY1 
	WHERE B.SOURCESYSTEMKEY1 IS NULL 
	
RETURN 


GO
