USE [Core1]
GO
/****** Object:  StoredProcedure [dbo].[DPU_NREP_BUILD_ETL_OBJECTS]    Script Date: 12/31/2024 8:49:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO





CREATE PROCEDURE [dbo].[DPU_NREP_BUILD_ETL_OBJECTS] (@SYSTEMID INT,@AREPLOADTABLEID INT = NULL, @CONNECTIONID INT,@SUBSYSTEMID INT=-1) AS
/*---------------------------------------------------------------------------------------
THIS PROCEDURE CREATES THE STORED PROCEDURES THAT LOAD COREETL DATA INTO CORE
THIS PROCEDURE IS USED BY REPLICA TRANSFER

MODIFICATION NOTES
11/4/2004 -->REMOVED LOGIC THAT CONVERTED COREETL DEFAULTS. THIS INCLUDED THE 
             IMPLEMENTATION OF USING BCP TO EXTRACT COREETL DATA TO TEXT
2/15/2005 -->ALTERED PROC TO SUPPORT 6.0 CHANGES TO THE AUDIT_TRAIL_ATTRIBUTES
02/11/2009 -> ADDED @CONNECTIONID PARAMETER TO EACH OF THE NREP PROCS BASED ON ISSUE 3269
01/04/2017 -- fix for Mc_segment update for more than 1 mil records, temp table changed to numeric(18,0)
---------------------------------------------------------------------------------------
*/

SET NOCOUNT ON


CREATE TABLE [#TEMP] ( [COLUMN_NAME] VARCHAR(150) ) 
DECLARE CRSR_CONSTS CURSOR FOR SELECT COLUMN_NAME FROM #TEMP

DECLARE @PROCSQL1 NVARCHAR(max)
DECLARE @PROCSQL2 NVARCHAR(max)
DECLARE @PROCSQL3 NVARCHAR(max)
DECLARE @PROCSQL4 NVARCHAR(max)
DECLARE @PROCSQL4_5 NVARCHAR(max)
DECLARE @PROCSQL4_7 NVARCHAR(max)
DECLARE @PROCSQL5 NVARCHAR(max)
DECLARE @PROCSQL6 VARCHAR(max)
DECLARE @PROCSQL6_5 VARCHAR(max)
DECLARE @PROCSQL6_6 VARCHAR(max)
DECLARE @PROCSQL6_7 VARCHAR(max)
DECLARE @PROCSQL6_8 VARCHAR(max)
DECLARE @PROCSQL7 NVARCHAR(max)
DECLARE @PROCSQL7_1 VARCHAR(max)
DECLARE @PROCSQL7_5 NVARCHAR(max)
DECLARE @PROCSQL8 NVARCHAR(max)
DECLARE @PROCSQL9 NVARCHAR(max)
DECLARE @PROCSQL10 NVARCHAR(max)
DECLARE @PROCSQL10_5 NVARCHAR(max)
DECLARE @PROCSQL11 NVARCHAR(max)
DECLARE @PROCSQL11_1 NVARCHAR(max)
DECLARE @PROCSQL11_2 NVARCHAR(max)
DECLARE @PROCSQL11_5 NVARCHAR(max)
DECLARE @PROCSQL12 NVARCHAR(max)
DECLARE @PROCSQL13 NVARCHAR(max)
DECLARE @PROCSQL13_5 NVARCHAR(max)
DECLARE @PROCSQL14 NVARCHAR(max)
DECLARE @PROCSQL15 NVARCHAR(max)
DECLARE @PROCSQL15_1 NVARCHAR(max)
DECLARE @PROCSQL15_5 NVARCHAR(max)
DECLARE @PROCSQL16 NVARCHAR(max)
DECLARE @PROCSQL16_1 NVARCHAR(max)

DECLARE @VIEWSQL1 NVARCHAR(max)
DECLARE @VIEWSQL2 VARCHAR(max)
DECLARE @VIEWSQL3 VARCHAR(max)
DECLARE @VIEWSQL4 VARCHAR(max)
DECLARE @ERRORMESSAGE NVARCHAR(255)

DECLARE @SQL NVARCHAR(max)
DECLARE @COLLISTSQL VARCHAR(max)
DECLARE @REPLOADTABLEID INT
DECLARE @CORTABLENAME VARCHAR(50)
DECLARE @REPTABLENAME VARCHAR(50)
DECLARE @SOURCEFILEID INT
DECLARE @BADPATH NVARCHAR(4000)
DECLARE @CTLPATH NVARCHAR(4000)
DECLARE @CRSTAGEPATH NVARCHAR(4000)
DECLARE @STAGEOUTPUTFOLDER NVARCHAR(255)
DECLARE @STAGECOLUMNS NVARCHAR(max)
DECLARE @ERRORCOUNT INT
DECLARE @PROC NVARCHAR(100)
DECLARE @TABLELEVELLOADS INT
DECLARE @ORASQL NVARCHAR(max)
DECLARE @COLS NVARCHAR(max)
DECLARE @FINALSQL VARCHAR(max)
DECLARE @COLUMN_SQL VARCHAR(max)
DECLARE @COLUMN_NAME VARCHAR(max)
DECLARE @COL_NAME NVARCHAR(max)
DECLARE @REPLOADSUBSET TABLE (REPLOADTABLEID INT)
DECLARE @MULTIIND BIT
DECLARE @ALPHASYSTEM VARCHAR(50)
DECLARE @UPPERLOWERCASE NVARCHAR(1)
DECLARE @TEMPTABLENAME VARCHAR(100)
DECLARE @CHARINDEX INT
DECLARE @COLLISTSQL1 VARCHAR(max)
DECLARE @STAGECOLUMNS1 NVARCHAR(max)
DECLARE @CRSTAGECOLUMNS VARCHAR(max)
DECLARE @NEXTINDEX INT
DECLARE @PREVCHARINDEX INT
DECLARE @USERID VARCHAR(255)
DECLARE @PASSWORD VARCHAR(255)
DECLARE @SERVERNAME VARCHAR(255)
DECLARE @ORACLECONNECTION VARCHAR(255)

DECLARE @TEMPSTAGECOLUMNS NVARCHAR(max)
DECLARE @COLUMNNAMES VARCHAR(100) 
DECLARE @INDEX INT
DECLARE @COLNAME VARCHAR(100)
DECLARE @CTLSTAGECOLUMNS NVARCHAR(max)
DECLARE @SQLLDRPATH AS VARCHAR(255)

--Added by Senthilkumar Sekaran as on 02-18-2013 for issue no: 7074
DECLARE @LINKEDSERVERNAME NVARCHAR(50)

SELECT @LINKEDSERVERNAME  = CASE WHEN ISNULL(@CONNECTIONID,32) = 32 THEN 'CORE'
							WHEN @CONNECTIONID = 36	 THEN 'COREDEV'
							ELSE 'CHECK' END

IF @LINKEDSERVERNAME = 'CHECK'
BEGIN
RAISERROR('DPU_NREP_BUILD FAILED. PLEASE CHECK CONNECTION ID OR LINKED SERVER NAME.',16,1)
RETURN
END
--Added by Senthilkumar Sekaran as on 02-18-2013 for issue no: 7074

IF @SUBSYSTEMID IS NULL
BEGIN
   SET @SUBSYSTEMID=-1
END;

SET @SQLLDRPATH = (SELECT Appsettingvalue FROM dt_appsetting WHERE Appsetting = 'SQLLDR_EXE_PATH')

IF @AREPLOADTABLEID IS NULL
BEGIN
        INSERT INTO @REPLOADSUBSET SELECT REPLOADTABLEID FROM PRM_REPLOADTABLES WHERE
        SYSTEMID = @SYSTEMID AND ISNULL(SubSystemID,-1)=@SUBSYSTEMID
END
ELSE
BEGIN
        INSERT INTO @REPLOADSUBSET (REPLOADTABLEID) VALUES (@AREPLOADTABLEID)
END

SET  @ORACLECONNECTION  = (SELECT ConnectionString FROM DT_Connection WHERE ConnectionId = @CONNECTIONID)            
--Get UserID
--Data Source=CORETRAC.SBL.COM;User Id=sbgcore;Password=nji9mko0;Integrated Security=no;
SET @USERID = (SELECT SUBSTRING(@ORACLECONNECTION,1,CHARINDEX('/',@ORACLECONNECTION,1)-1))

--Get Password
SET @PASSWORD = (SELECT SUBSTRING(@ORACLECONNECTION,CHARINDEX('/',@ORACLECONNECTION,1)+1,
		(CHARINDEX('@',@ORACLECONNECTION,1)-1) - (CHARINDEX('/',@ORACLECONNECTION,1)))) 

--Get Server
SET @SERVERNAME =  (SELECT SUBSTRING(@ORACLECONNECTION,CHARINDEX('@',@ORACLECONNECTION,1)+1,
		LEN(@ORACLECONNECTION) - (CHARINDEX('@',@ORACLECONNECTION,1))))

SET @ALPHASYSTEM = (SELECT left(SYSTEMNAME,4) FROM MC_SOURCESYSTEM WHERE SYSTEMID = @SYSTEMID)

DECLARE CRSR_MAIN CURSOR FOR
SELECT 
        REPLOADTABLEID,
        CORETABLENAME, 
	    B.ALLOWUPPERLOWERCASE,
        DBO.REP_STAGENAME(CORETABLENAME,REPLOADTABLEID), 
        SOURCEFILEID,
        STAGEOUTPUTFOLDER + '\SQLLDR_BAD\' + DBO.REP_STAGENAME(B.CORETABLENAME,REPLOADTABLEID) +  '.BAD',
        STAGEOUTPUTFOLDER + '\SQLLDR_CTL\' + DBO.REP_STAGENAME(B.CORETABLENAME,REPLOADTABLEID) +  '.CTL',
        STAGEOUTPUTFOLDER + '\CR_STAGE\' + DBO.REP_STAGENAME(B.CORETABLENAME,REPLOADTABLEID) +  '.SQL',
        A.STAGEOUTPUTFOLDER,
        STAGECOLUMNS, 
        ISNULL(MAXERRORCOUNT,1000),
        CASE WHEN INSERTIND = 1 AND UPDATEIND = 0 THEN 'SPI_' WHEN UPDATEIND = 1 THEN 'SPM_' END,
        (SELECT COUNT(*) FROM CORE1.DBO.PRM_REPLOADTABLES C WHERE C.REPCORETABLEID = A.REPCORETABLEID AND A.SYSTEMID = C.SYSTEMID AND ISNULL(SubSystemID,-1)=@SUBSYSTEMID ),
        CASE WHEN C.REPCORETABLEID IS NOT NULL THEN 1 ELSE 0 END
FROM 
        PRM_REPLOADTABLES A  WITH(NOLOCK) 
        INNER JOIN 
        PRM_REPCORETABLES B  WITH(NOLOCK) 
        ON A.REPCORETABLEID = B.REPCORETABLEID 
        LEFT OUTER JOIN 
        (SELECT REPCORETABLEID, SYSTEMID FROM PRM_REPLOADTABLES GROUP BY REPCORETABLEID, SYSTEMID HAVING COUNT(*) > 1) C 
        ON A.REPCORETABLEID = C.REPCORETABLEID
	AND A.SYSTEMID = C.SYSTEMID
	AND ISNULL(A.SubSystemID,-1)=@SUBSYSTEMID
WHERE
        A.REPLOADTABLEID IN (SELECT REPLOADTABLEID FROM @REPLOADSUBSET)


OPEN CRSR_MAIN
FETCH Next FROM CRSR_MAIN INTO @REPLOADTABLEID,@CORTABLENAME,@UPPERLOWERCASE,@REPTABLENAME,@SOURCEFILEID,@BADPATH,@CTLPATH,@CRSTAGEPATH,@STAGEOUTPUTFOLDER,@STAGECOLUMNS,@ERRORCOUNT,@PROC,@TABLELEVELLOADS,@MULTIIND

WHILE @@FETCH_STATUS=0
BEGIN
                
--MAKE SURE THAT THERE ARE NO DEFAULTS ON THIS TABLE
IF (SELECT COUNT(*) FROM COREETL.INFORMATION_SCHEMA.COLUMNS WHERE TABLE_NAME = @CORTABLENAME AND COLUMN_DEFAULT IS NOT NULL) > 0
BEGIN
        SET @ERRORMESSAGE = N'NREP_BUILD_ETL_OBJECTS FAILED.  A COREETL DEFAULT WAS DETECTED IN ' + @CORTABLENAME + '.'
        RAISERROR (@ERRORMESSAGE, 16, 1)
	RETURN 1
END

--added this check for 3750
--Check whether we have any column type in the stage column names. because for column's length more 254 characters needs to be hadled differently in the CTL file
SET @INDEX = CHARINDEX('CHAR(',@STAGECOLUMNS,1)
SET @CTLSTAGECOLUMNS = @STAGECOLUMNS

IF (@INDEX > 0)
BEGIN
	select * into #TempColumns from dbo.split(@STAGECOLUMNS,',')

	SET @TEMPSTAGECOLUMNS = ''

	DECLARE CRSR_STAGECOL CURSOR FOR
	select DATA from #TempColumns

	OPEN CRSR_STAGECOL
	FETCH Next FROM CRSR_STAGECOL INTO @COLUMNNAMES

	WHILE @@FETCH_STATUS=0
	BEGIN
		SET @INDEX = 0
		SET @INDEX = CHARINDEX(' ',@COLUMNNAMES,1)
		IF @INDEX <> 0  
		BEGIN
			SET @COLNAME = SUBSTRING(@COLUMNNAMES,1,@INDEX - 1)
		END
		ELSE
		BEGIN
			SET @COLNAME = @COLUMNNAMES
		END

		IF @TEMPSTAGECOLUMNS = ''
			SET @TEMPSTAGECOLUMNS = @COLNAME
		ELSE
			SET @TEMPSTAGECOLUMNS = @TEMPSTAGECOLUMNS + ',' + @COLNAME

		FETCH Next FROM CRSR_STAGECOL INTO @COLUMNNAMES
	END
	CLOSE CRSR_STAGECOL
	DEALLOCATE CRSR_STAGECOL

	SET @STAGECOLUMNS = @TEMPSTAGECOLUMNS
	drop table #TempColumns
END


SELECT @PROCSQL1 =''
SELECT @PROCSQL2 =''
SELECT @PROCSQL3 =''
SELECT @PROCSQL4 =''
SELECT @PROCSQL4_5 = ''
SELECT @PROCSQL4_7 = ''
SELECT @PROCSQL5 =''
SELECT @PROCSQL6 = ''
SELECT @PROCSQL6_5 = ''
SELECT @PROCSQL6_6 = ''
SELECT @PROCSQL6_7 = ''
SELECT @PROCSQL6_8 = ''
SELECT @PROCSQL7 =''
SELECT @PROCSQL7_1 =''
SELECT @PROCSQL7_5 =''
SELECT @PROCSQL8 =''
SELECT @PROCSQL9 =''
SELECT @PROCSQL10 =''
SELECT @PROCSQL10_5 = ''
SELECT @PROCSQL11 =''
SELECT @PROCSQL11_1 = ''
SELECT @PROCSQL11_2 = ''
SELECT @PROCSQL11_5 = ''
SELECT @PROCSQL12 =''
SELECT @PROCSQL13 =''
SELECT @PROCSQL13_5 =''
SELECT @PROCSQL14 =''
SELECT @PROCSQL15 =''
SELECT @PROCSQL15_1 =''
SELECT @PROCSQL15_5 =  ''
SELECT @PROCSQL16 =''
SELECT @PROCSQL16_1 =''

SELECT @TEMPTABLENAME = '##TEMP_NREP_' + @REPTABLENAME


SELECT @PROCSQL1 = '
CREATE PROCEDURE dbo.NREP_' + @REPTABLENAME + ' (@SYSTEMID INT, @CONNECTIONID INT) AS
        SET NOCOUNT ON

        DECLARE @CTLTEXT VARCHAR(8000)
        DECLARE @CMD NVARCHAR(4000)
        DECLARE @CMD1 VARCHAR(4000)
        DECLARE @RSLTS INT
        DECLARE @RESULTS INT
        DECLARE @ERRORID INT
        DECLARE @CNT INT
        DECLARE @RECORDSLOADED INT
        DECLARE @RECORDSERRORED INT
        DECLARE @PARENTSCOMPLETE BIT
        DECLARE @IPENDINGPARENT AS INT
        DECLARE @IPENDINGTABLEPARENT AS INT
        DECLARE @ZDATAENDDATE AS DATETIME
        DECLARE @ZDATASTATUS AS CHAR(1)
        DECLARE @STARTDATE AS DATETIME
        DECLARE @SEQUENCE AS INT
        DECLARE @OUTPUT VARCHAR(255)
        DECLARE @ERRORRESULTS VARCHAR(4000)
        DECLARE @TEXT NVARCHAR(255)
        DECLARE @ERR INT
        DECLARE @ZRECORDSPROCESSED INT
		DECLARE @sql varchar(8000) 
		DECLARE @SYSPROCESSEDLOGID INT
		DECLARE @ORACLECONNECTION VARCHAR(255)
		DECLARE @USERID VARCHAR(255)
		DECLARE @PASSWORD VARCHAR(255)
		DECLARE @SERVERNAME VARCHAR(255)
		DECLARE @CONNSTRING VARCHAR(1000)
		DECLARE @NREP_START_TIME AS DATETIME
		DECLARE @ROWSPROCESSED INT

    SELECT @SEQUENCE = 0
	SELECT @NREP_START_TIME = GETDATE()
	SELECT @ROWSPROCESSED = 0

	if not object_id(''tempdb..'+ @TEMPTABLENAME + ''') is null
	    drop table '+ @TEMPTABLENAME + '

	CREATE TABLE '+ @TEMPTABLENAME + '(EVENTTEXT VARCHAR(1000))

	--changed from SBGETL to @@SERVERNAME for issue 7094  
	SELECT    @sql = ''bcp "select EVENTTEXT FROM '+ @TEMPTABLENAME + ' " queryout ' + @STAGEOUTPUTFOLDER + '\SQLLDR_LOG\' + @REPTABLENAME + '.LOG -S' + @@SERVERNAME + ' -T -c''
	  -- execute BCP
	  Exec master..xp_cmdshell @sql,no_output
'

SELECT @PROCSQL2 = '
        ------------------------------------------------------------------------------------
        --100
        --RECORD SPID FOR TRACKING PURPOSES
        ------------------------------------------------------------------------------------
        --<BEG>----------------LOG STEP
	INSERT INTO ' + @TEMPTABLENAME + ' VALUES (''[100-->BEG RECORD SPID]' + CHAR(9) + ''' + CONVERT(VARCHAR(100),GETDATE(),101) + '' '' + CONVERT(VARCHAR(100),GETDATE(),114));
        --<END>----------------LOG STEP


        UPDATE CORE1.DBO.PRM_REPLOADTABLES
        SET SPID_1 = @@SPID
        WHERE REPLOADTABLEID = ' + CAST(@REPLOADTABLEID AS VARCHAR(100)) + '

        IF (@@ERROR <> 0) GOTO E_ERROR

	--RETRIEVE THE CURRENT SYSPROCESSEDLOGID
	
	SET @SYSPROCESSEDLOGID = (select MAX(SYSPROCESSEDLOGID) FROM MC_SYSPROCESSEDLOG WHERE SYSTEMID = @SYSTEMID
								and isnull(subsystemid,-1)='+CAST(@SUBSYSTEMID AS VARCHAR(100))+ ' )

        IF (@@ERROR <> 0) GOTO E_ERROR

        --<BEG>----------------LOG STEP
	INSERT INTO '+ @TEMPTABLENAME + ' VALUES (''[100-->END RECORD SPID]' + CHAR(9) + ''' + CONVERT(VARCHAR(100),GETDATE(),101) + '' '' + CONVERT(VARCHAR(100),GETDATE(),114));
        --<END>----------------LOG STEP

        '



SELECT @PROCSQL3 = '
        ------------------------------------------------------------------------------------
        --300
        --CHECK SEGMENT TO SEE IF WE HAVE ALREADY COMPLETED THIS PACKAGE
        ------------------------------------------------------------------------------------
        --<BEG>----------------LOG STEP
	INSERT INTO '+ @TEMPTABLENAME + ' VALUES (''[300-->BEG CHECK SEGMENT STATUS]' + CHAR(9) + ''' + CONVERT(VARCHAR(100),GETDATE(),101) + '' '' + CONVERT(VARCHAR(100),GETDATE(),114));
        --<END>----------------LOG STEP

        --SEE IF WE ARE ALREADY DONE
        IF (CASE WHEN EXISTS (SELECT 1 FROM MC_SEGMENT WITH(NOLOCK) WHERE COMPLETED = ''T'' AND SEGMENT = ''REPLICA TRANSFER'' AND SYSPROCESSEDLOGID = @SYSPROCESSEDLOGID AND SEGMENTINSTANCE = ''' + @REPTABLENAME + ''') THEN 1 ELSE 0 END) = 1 
        BEGIN
                PRINT ''ALREADY COMPLETE''
                GOTO E_ERROR
        END 

        IF (@@ERROR <> 0) GOTO E_ERROR

        --SEE IF THERE IS ANY DATA TO LOAD
        ' + CASE WHEN @MULTIIND = 1 THEN '
        SELECT @ZDATASTATUS = CASE WHEN COUNT(*) = 0 THEN ''T'' ELSE ''F'' END, 
        @ZDATAENDDATE = CASE WHEN COUNT(*) = 0 THEN GETDATE() ELSE NULL END,
        @ZRECORDSPROCESSED = CASE WHEN COUNT(*) = 0 THEN 0 ELSE NULL END
        FROM COREETL.DBO.' + @CORTABLENAME + '
        WHERE REC_INSRT_NAME = ''' + CAST(@REPLOADTABLEID AS VARCHAR(100)) + '''
        ' ELSE '
        SELECT @ZDATASTATUS = CASE WHEN COUNT(*) = 0 THEN ''T'' ELSE ''F'' END, 
        @ZDATAENDDATE = CASE WHEN COUNT(*) = 0 THEN GETDATE() ELSE NULL END,
        @ZRECORDSPROCESSED = CASE WHEN COUNT(*) = 0 THEN 0 ELSE NULL END
        FROM COREETL.DBO.' + @CORTABLENAME 
        end + '


        IF (@@ERROR <> 0) GOTO E_ERROR

        --LOG SEGMENT
        INSERT INTO MC_SEGMENT (StartDateTimeStamp, EndDateTimeStamp, SegmentInstance, Completed, SourceFileID, Segment, RecordsProcessed, SysProcessedLogID)
        SELECT GETDATE(),@ZDATAENDDATE,''' + @REPTABLENAME + ''',@ZDATASTATUS,' + CAST(@SOURCEFILEID AS VARCHAR(100)) + ', ''REPLICA TRANSFER'',@ZRECORDSPROCESSED,@SYSPROCESSEDLOGID
        WHERE NOT EXISTS (SELECT 1 FROM MC_SEGMENT WITH(NOLOCK) WHERE SEGMENT = ''REPLICA TRANSFER'' AND SYSPROCESSEDLOGID = @SYSPROCESSEDLOGID AND SEGMENTINSTANCE = ''' + @REPTABLENAME + ''')
         
        IF (@@ERROR <> 0) GOTO E_ERROR

        IF @ZDATAENDDATE IS NOT NULL
        BEGIN
  		INSERT INTO '+ @TEMPTABLENAME + ' VALUES (''COMPLETE.  NO DATA TO LOAD'');
              GOTO E_ERROR
        END

        --<BEG>----------------LOG STEP
        --PRINT ''[300-->END CHECK SEGMENT STATUS]' + CHAR(9) + ''' + CONVERT(VARCHAR(100),GETDATE(),101) + '' '' + CONVERT(VARCHAR(100),GETDATE(),114)
 	INSERT INTO '+ @TEMPTABLENAME + ' VALUES (''[300-->END CHECK SEGMENT STATUS]' + CHAR(9) + ''' + CONVERT(VARCHAR(100),GETDATE(),101) + '' '' + CONVERT(VARCHAR(100),GETDATE(),114));
        --<END>----------------LOG STEP

        '

SELECT @PROCSQL4 = '
        ------------------------------------------------------------------------------------
        --400
        --BUILD BAD TEXT FILE
        ------------------------------------------------------------------------------------
        --<BEG>----------------LOG STEP
 	INSERT INTO '+ @TEMPTABLENAME + ' VALUES (''[400-->BEG BUILD SQLLDR BAD]' + CHAR(9) + ''' + CONVERT(VARCHAR(100),GETDATE(),101) + '' '' + CONVERT(VARCHAR(100),GETDATE(),114));
        --<END>----------------LOG STEP

		--changed from SBGETL to @@SERVERNAME for issue 7094  
		SET @TEXT = ''SQLCMD -S' + @@SERVERNAME + ' -E -Q "" -o "' + @BADPATH + '" -l500 ''
        EXEC MASTER..XP_CMDSHELL @TEXT, NO_OUTPUT

        --<BEG>----------------LOG STEP
 	INSERT INTO '+ @TEMPTABLENAME + ' VALUES (''[400-->END BUILD SQLLDR BAD]' + CHAR(9) + ''' + CONVERT(VARCHAR(100),GETDATE(),101) + '' '' + CONVERT(VARCHAR(100),GETDATE(),114));
        --<END>----------------LOG STEP

'

SELECT @PROCSQL4_5 = '
        ------------------------------------------------------------------------------------
        --450
        --GET CONNECTION INFO
        ------------------------------------------------------------------------------------
        --<BEG>----------------LOG STEP
 	INSERT INTO '+ @TEMPTABLENAME + ' VALUES (''[450-->BEG GET CONNECTION INFO]' + CHAR(9) + ''' + CONVERT(VARCHAR(100),GETDATE(),101) + '' '' + CONVERT(VARCHAR(100),GETDATE(),114));
        --<END>----------------LOG STEP

	SET  @ORACLECONNECTION  = (SELECT ConnectionString FROM DT_Connection WHERE ConnectionId = @CONNECTIONID)            
	
	--Get UserID
	SET @USERID = (SELECT SUBSTRING(@ORACLECONNECTION,1,CHARINDEX(''/'',@ORACLECONNECTION,1)-1))

	--Get Password
	SET @PASSWORD = (SELECT SUBSTRING(@ORACLECONNECTION,CHARINDEX(''/'',@ORACLECONNECTION,1)+1,
	(CHARINDEX(''@'',@ORACLECONNECTION,1)-1) - (CHARINDEX(''/'',@ORACLECONNECTION,1)))) 

	--Get Server
	SET @SERVERNAME =  (SELECT SUBSTRING(@ORACLECONNECTION,CHARINDEX(''@'',@ORACLECONNECTION,1)+1,
	LEN(@ORACLECONNECTION) - (CHARINDEX(''@'',@ORACLECONNECTION,1))))
    
	SET @CONNSTRING = ''''''''+ @SERVERNAME + '''''';'''''' + @USERID + '''''';'''''' + @PASSWORD + ''''''''

'

SELECT @PROCSQL4_7 = '

        --<BEG>----------------LOG STEP
        --PRINT ''[450-->END GET CONNECTION INFO]' + CHAR(9) + ''' + CONVERT(VARCHAR(100),GETDATE(),101) + '' '' + CONVERT(VARCHAR(100),GETDATE(),114)
 	INSERT INTO '+ @TEMPTABLENAME + ' VALUES (''[450-->END GET CONNECTION INFO]' + CHAR(9) + ''' + CONVERT(VARCHAR(100),GETDATE(),101) + '' '' + CONVERT(VARCHAR(100),GETDATE(),114));
        --<END>----------------LOG STEP



'

SELECT @PROCSQL5 = '
        ------------------------------------------------------------------------------------
        --500
        --BUILD CTL FILE
        ------------------------------------------------------------------------------------
        --<BEG>----------------LOG STEP
 	INSERT INTO '+ @TEMPTABLENAME + ' VALUES (''[500-->BEG BUILD SQLLDR CTL]' + CHAR(9) + ''' + CONVERT(VARCHAR(100),GETDATE(),101) + '' '' + CONVERT(VARCHAR(100),GETDATE(),114));
        --<END>----------------LOG STEP

        SET @CTLTEXT = ''ECHO LOAD DATA > ' + @CTLPATH + '''
        EXEC MASTER..XP_CMDSHELL @CTLTEXT, NO_OUTPUT

        SET @CTLTEXT = ''ECHO INFILE ''''' + @STAGEOUTPUTFOLDER + '\SQLLDR_TXT\' + @REPTABLENAME + '.txt'''' >> ' + @CTLPATH + '''
        EXEC MASTER..XP_CMDSHELL @CTLTEXT, NO_OUTPUT

        SET @CTLTEXT = ''ECHO BADFILE ''''' + @STAGEOUTPUTFOLDER + '\SQLLDR_BAD\' + @REPTABLENAME + '.bad'''' >> ' + @CTLPATH + '''
        EXEC MASTER..XP_CMDSHELL @CTLTEXT, NO_OUTPUT

        SET @CTLTEXT = ''ECHO DISCARDFILE ''''' + @STAGEOUTPUTFOLDER + '\SQLLDR_DIS\' + @REPTABLENAME + '.dis'''' >> ' + @CTLPATH + '''
        EXEC MASTER..XP_CMDSHELL @CTLTEXT, NO_OUTPUT

        SET @CTLTEXT = ''ECHO INSERT' + ' >> ' + @CTLPATH + '''
        EXEC MASTER..XP_CMDSHELL @CTLTEXT, NO_OUTPUT

        SET @CTLTEXT = ''ECHO INTO TABLE SBGSTAGE.' + @REPTABLENAME + ' >> ' + @CTLPATH + '''
        EXEC MASTER..XP_CMDSHELL @CTLTEXT, NO_OUTPUT

        SET @CTLTEXT = ''ECHO FIELDS TERMINATED BY ''''^<--REPDLMTR--^>''''' + ' >> ' + @CTLPATH + '''
        EXEC MASTER..XP_CMDSHELL @CTLTEXT, NO_OUTPUT

        SET @CTLTEXT = ''ECHO  TRAILING NULLCOLS' + ' >> ' + @CTLPATH + '''
        EXEC MASTER..XP_CMDSHELL @CTLTEXT, NO_OUTPUT

        SET @CTLTEXT = ''ECHO (' + ' >> ' + @CTLPATH + '''
        EXEC MASTER..XP_CMDSHELL @CTLTEXT, NO_OUTPUT

'
	IF LEN(@CTLSTAGECOLUMNS) > 800
	BEGIN
		SELECT @NEXTINDEX  = 800
		SELECT @CRSTAGECOLUMNS = ''
		SELECT @PREVCHARINDEX = 1

		WHILE (@NEXTINDEX < LEN(@CTLSTAGECOLUMNS))
		BEGIN	
			SELECT @CHARINDEX = CHARINDEX (',',@CTLSTAGECOLUMNS,  @NEXTINDEX)
			SELECT @CRSTAGECOLUMNS = SUBSTRING(@CTLSTAGECOLUMNS, @PREVCHARINDEX,(@CHARINDEX - @PREVCHARINDEX + 1) ) 
			SELECT @PROCSQL6 = @PROCSQL6 + '
 	SET @CTLTEXT = ''ECHO ' + @CRSTAGECOLUMNS + ' >> ' + @CTLPATH + '''
	EXEC MASTER..XP_CMDSHELL @CTLTEXT, NO_OUTPUT
	'
			SELECT @NEXTINDEX  = @NEXTINDEX + 800
			SELECT @PREVCHARINDEX = @CHARINDEX + 1
			
		END

		SELECT @CRSTAGECOLUMNS =  SUBSTRING(@CTLSTAGECOLUMNS, @CHARINDEX + 1,  (LEN(@CTLSTAGECOLUMNS) -(@CHARINDEX + 1) + 1))

		SELECT @PROCSQL6 = @PROCSQL6 + '
	        SET @CTLTEXT = ''ECHO ' + @CRSTAGECOLUMNS + ' >> ' + @CTLPATH + '''
	        EXEC MASTER..XP_CMDSHELL @CTLTEXT, NO_OUTPUT
		'
	END
	ELSE
	BEGIN
			SELECT @PROCSQL6 = '
 	SET @CTLTEXT = ''ECHO ' + @CTLSTAGECOLUMNS + ' >> ' + @CTLPATH + '''
	EXEC MASTER..XP_CMDSHELL @CTLTEXT, NO_OUTPUT
	'

	END

SELECT @PROCSQL6_5 = '
        SET @CTLTEXT = ''ECHO )' + ' >> ' + @CTLPATH + '''
        EXEC MASTER..XP_CMDSHELL @CTLTEXT, NO_OUTPUT

        IF (@@ERROR <> 0) GOTO E_ERROR

        --<BEG>----------------LOG STEP
 	INSERT INTO '+ @TEMPTABLENAME + ' VALUES (''[500-->END BUILD SQLLDR CTL]' + CHAR(9) + ''' + CONVERT(VARCHAR(100),GETDATE(),101) + '' '' + CONVERT(VARCHAR(100),GETDATE(),114));
        --<END>----------------LOG STEP

'
-- if the length is more than 800 characters then write the command into the sql file and execute it
IF LEN(@STAGECOLUMNS) > 800
BEGIN
	SELECT @NEXTINDEX  = 800
	SELECT @CRSTAGECOLUMNS = ''
	SELECT @PREVCHARINDEX = 1
	
	SELECT @PROCSQL6_6 = '
        ------------------------------------------------------------------------------------
        --600
        --BUILD CR_STAGE_OBJECT SQL
        ------------------------------------------------------------------------------------
        --<BEG>----------------LOG STEP
 	INSERT INTO '+ @TEMPTABLENAME + ' VALUES (''[600-->BEG BUILD CR_STAGE_OBJECT SQL]' + CHAR(9) + ''' + CONVERT(VARCHAR(100),GETDATE(),101) + '' '' + CONVERT(VARCHAR(100),GETDATE(),114));
        --<END>----------------LOG STEP
	'

	WHILE (@NEXTINDEX < LEN(@STAGECOLUMNS))
	BEGIN	
		SELECT @CHARINDEX = CHARINDEX (',',@STAGECOLUMNS,  @NEXTINDEX)
		SELECT @CRSTAGECOLUMNS =  SUBSTRING(@STAGECOLUMNS, @PREVCHARINDEX, (@CHARINDEX - @PREVCHARINDEX + 1)) 

		IF (@PREVCHARINDEX = 1) 
		BEGIN
			SELECT @PROCSQL6_7 = '
	SET @CTLTEXT = ''ECHO BEGIN SBGSTAGE.CR_STAGE_OBJECTS (' + CAST(@REPLOADTABLEID AS VARCHAR(100)) + ', ''''' + @CORTABLENAME + ''''', ''''' + @CRSTAGECOLUMNS + '''''^|^| > ' + @CRSTAGEPATH + '''
	EXEC MASTER..XP_CMDSHELL @CTLTEXT, NO_OUTPUT
	'
		END
		ELSE
		BEGIN
			SELECT @PROCSQL6_7 = @PROCSQL6_7 + '
 	SET @CTLTEXT = ''ECHO ''''' + @CRSTAGECOLUMNS + '''''^|^| >>' + @CRSTAGEPATH + '''
	EXEC MASTER..XP_CMDSHELL @CTLTEXT, NO_OUTPUT
	'
		END

		SELECT @NEXTINDEX  = @NEXTINDEX + 800
		SELECT @PREVCHARINDEX = @CHARINDEX + 1
	END
	
	SELECT @CRSTAGECOLUMNS =  SUBSTRING(@STAGECOLUMNS, @CHARINDEX + 1,  (LEN(@STAGECOLUMNS)- @PREVCHARINDEX + 1))

	SELECT @PROCSQL6_7 = @PROCSQL6_7 + '
 	SET @CTLTEXT = ''ECHO ''''' + @CRSTAGECOLUMNS + ''''');END; >>' + @CRSTAGEPATH + '''
	EXEC MASTER..XP_CMDSHELL @CTLTEXT, NO_OUTPUT
	'

	SELECT @PROCSQL6_7 = @PROCSQL6_7 + '
 	SET @CTLTEXT = ''ECHO / >>' + @CRSTAGEPATH + '''
	EXEC MASTER..XP_CMDSHELL @CTLTEXT, NO_OUTPUT
	'

	SELECT @PROCSQL6_8 = '

        IF (@@ERROR <> 0) GOTO E_ERROR

        --<BEG>----------------LOG STEP
 	INSERT INTO '+ @TEMPTABLENAME + ' VALUES (''[600-->END BUILD CR_STAGE_OBJECT SQL]' + CHAR(9) + ''' + CONVERT(VARCHAR(100),GETDATE(),101) + '' '' + CONVERT(VARCHAR(100),GETDATE(),114));
        --<END>----------------LOG STEP

	'
END

SELECT @PROCSQL7 = '
        ------------------------------------------------------------------------------------
        --700
        --BUILD ORACLE STAGING OBJECTS
        ------------------------------------------------------------------------------------
        --<BEG>----------------LOG STEP
 	INSERT INTO '+ @TEMPTABLENAME + ' VALUES (''[700-->BEG BUILD ORA OBJECTS]' + CHAR(9) + ''' + CONVERT(VARCHAR(100),GETDATE(),101) + '' '' + CONVERT(VARCHAR(100),GETDATE(),114));
        --<END>----------------LOG STEP

        CREATE TABLE #OUTPUT (RESULT VARCHAR(255))
        --BUILD COMMAND TO EXECUTE ORACLE PROC

'

IF LEN(@STAGECOLUMNS) > 800
BEGIN
SELECT @PROCSQL7_1 = '
        SELECT @CMD =  ''TYPE ' + @CRSTAGEPATH + ' ;| SQLPLUS '' + @ORACLECONNECTION
'
END
ELSE
BEGIN
SELECT @PROCSQL7_1 = '
        SELECT @CMD =  ''ECHO EXEC SBGSTAGE.CR_STAGE_OBJECTS ( ' + CAST(@REPLOADTABLEID AS VARCHAR(100)) + ', ''''' + @CORTABLENAME + ''''', ''''' + @STAGECOLUMNS + ''''' );| SQLPLUS '' + @ORACLECONNECTION 
'
END

SELECT @PROCSQL7_5 = '
        --EXECUTE COMMAND INTO TEMP TABLE
        INSERT INTO #OUTPUT EXEC @RSLTS = MASTER..XP_CMDSHELL @CMD

        IF (@@ERROR <> 0) GOTO E_ERROR

        --SEARCH FOR ERRORS
        IF (SELECT COUNT(*) FROM #OUTPUT WHERE RESULT LIKE ''%ORA-%'') <> 0 OR @RSLTS <> 0
        BEGIN
                DECLARE CRSR_RESULTS CURSOR FOR SELECT RESULT FROM #OUTPUT
                OPEN CRSR_RESULTS
                SELECT @ERRORRESULTS = ''''
                FETCH Next FROM CRSR_RESULTS INTO @OUTPUT
                WHILE @@FETCH_STATUS=0
                BEGIN
                        SELECT @ERRORRESULTS = @ERRORRESULTS + CASE WHEN @OUTPUT IS NOT NULL THEN @OUTPUT + CHAR(13) + CHAR(10) ELSE '''' END
                        FETCH Next FROM CRSR_RESULTS INTO @OUTPUT
                END
                CLOSE CRSR_RESULTS
                DEALLOCATE CRSR_RESULTS

	  	INSERT INTO '+ @TEMPTABLENAME + ' VALUES (@ERRORRESULTS);
				SELECT @ERRORRESULTS = ''REP_' + @REPTABLENAME + ' FAILED AT 700.  ORACLE PROCEDURE CR_STAGE_OBJECTS FAILED.'' + CHAR(13) + CHAR(10) + @ERRORRESULTS
                RAISERROR (@ERRORRESULTS, 16, 1)

                GOTO E_ERROR
        END

        --<BEG>----------------LOG STEP
 	INSERT INTO '+ @TEMPTABLENAME + ' VALUES (''[700-->END BUILD ORA OBJECTS]' + CHAR(9) + ''' + CONVERT(VARCHAR(100),GETDATE(),101) + '' '' + CONVERT(VARCHAR(100),GETDATE(),114));
        --<END>----------------LOG STEP

'

SELECT @PROCSQL8 = '
        ------------------------------------------------------------------------------------
        --800
        --FILTER AND LOG DUPLICATES
        ------------------------------------------------------------------------------------
        --<BEG>----------------LOG STEP
 	INSERT INTO '+ @TEMPTABLENAME + ' VALUES (''[800-->BEG LOG DUPLICATES]' + CHAR(9) + ''' + CONVERT(VARCHAR(100),GETDATE(),101) + '' '' + CONVERT(VARCHAR(100),GETDATE(),114));
        --<END>----------------LOG STEP


        CREATE TABLE [#TEMP2] ( [CNT] VARCHAR(150) ) 
        '
		
        --BUILD SQL TO RETRIEVE SQL TO DETERMIN DUPLICATES
        TRUNCATE TABLE #TEMP
        
        --Modified by Senthilkumar Sekaran as on 02-18-2013 for issue no: 7074
		--set @ORASQL = N'INSERT INTO #TEMP SELECT * FROM OPENROWSET(''OraOLEDB.Oracle'',''' + @SERVERNAME + ''';''' + @USERID + ''';''' + @PASSWORD + ''',''SELECT DISTINCT COLUMN_NAME FROM SYS.ALL_CONSTRAINTS A, ALL_CONS_COLUMNS B WHERE A.CONSTRAINT_NAME = B.CONSTRAINT_NAME AND A.CONSTRAINT_TYPE=''''P'''' AND A.TABLE_NAME = ''''' + @CORTABLENAME + ''''' '')'
		
		set @ORASQL = N'INSERT INTO #TEMP SELECT * FROM OPENQUERY('+ @LINKEDSERVERNAME + ',''SELECT DISTINCT COLUMN_NAME FROM SYS.ALL_CONSTRAINTS A, ALL_CONS_COLUMNS B WHERE A.CONSTRAINT_NAME = B.CONSTRAINT_NAME AND A.CONSTRAINT_TYPE=''''P'''' AND A.TABLE_NAME = ''''' + @CORTABLENAME + ''''' '')'
        --Modified by Senthilkumar Sekaran as on 02-18-2013 for issue no: 7074
		EXECUTE  sp_executesql @ORASQL


        --LOOP THROUGH RESULTS
        SET @SQL = ''
        SET @COLS = ''
        SET @FINALSQL = ''
        
        OPEN CRSR_CONSTS
        FETCH Next FROM CRSR_CONSTS INTO @COL_NAME
        
        WHILE @@FETCH_STATUS=0
        BEGIN

                SELECT @SQL = @SQL + @COL_NAME
                SELECT @COLS = @COLS + 'A.' + @COL_NAME + ' = B.' + @COL_NAME + ' '
        	FETCH Next FROM CRSR_CONSTS INTO @COL_NAME
                IF @@FETCH_STATUS=0
                BEGIN
                        SELECT @SQL = @SQL + ','
                        SELECT @COLS = @COLS + ' and '
                END 
        END
        CLOSE CRSR_CONSTS
        

        --BUILD FINAL SQL TO GRAB DUPLICATED RECORDS
  SELECT @PROCSQL8 = @PROCSQL8 + '
        --LOAD DUPS INTO TEMP TABLE
        INSERT INTO #TEMP2 SELECT COUNT(*) AS CNT FROM (SELECT ' + @SQL + ' FROM COREETL.DBO.' + @CORTABLENAME + ' where REC_INSRT_NAME = ''' +  CAST(@REPLOADTABLEID AS VARCHAR(100)) + ''' group by ' + @SQL + ' having count(*) > 1) JJ

        IF (@@ERROR <> 0) GOTO E_ERROR

        --LOG RECORDS FOUND IN THE REPERRORLOG
        SELECT @CNT = CNT FROM #TEMP2
        
        IF (@@ERROR <> 0) GOTO E_ERROR
        IF @CNT > 0 
        BEGIN
				--Added for issue 4030
				IF @CNT > ' + CAST(@ERRORCOUNT AS VARCHAR(100)) + '
				BEGIN
						SELECT @ERRORRESULTS = ''REP_' + @REPTABLENAME + ' FAILED AT 800.  DUPLICATE RECORDS CHECK FAILED.  EXCEEDED MAX ALLOWED ERRORS'' + CHAR(13) + CHAR(10) 
						RAISERROR (@ERRORRESULTS, 16, 1)
						GOTO E_ERROR
				END

                BEGIN TRAN T1

                INSERT INTO COREERRLOG.DBO.REPERRORLOG (ERRORDATE,ERRORMESSAGE,ERRORDATA,LOGID,ERRORSOURCE,SYSTEM)VALUES(GETDATE(),''DUPLICATE RECORDS DETECTED IN ' + @CORTABLENAME + ''',''REFER TO ERR TABLE'',''' + CAST(@REPLOADTABLEID AS VARCHAR(100)) + ''',''REP'',''' + RTRIM(@ALPHASYSTEM) + '''); 

                INSERT INTO COREERRLOG.DBO.ERR_' + RIGHT(@CORTABLENAME, LEN(@CORTABLENAME) - 4) + ' SELECT A.*, (SELECT TOP 1 @@IDENTITY FROM COREERRLOG.DBO.REPERRORLOG) FROM COREETL.DBO.' + @CORTABLENAME + ' A INNER JOIN (SELECT ' + @SQL + ' FROM COREETL.DBO.' + @CORTABLENAME + ' WHERE REC_INSRT_NAME = ' + CAST(@REPLOADTABLEID AS VARCHAR(100)) + ' GROUP BY ' + @SQL + ' HAVING COUNT(*) > 1) B ON ' + @COLS + ' WHERE A.REC_INSRT_NAME = ' + CAST(@REPLOADTABLEID AS VARCHAR(100)) + '; 

                DELETE COREETL.DBO.' + @CORTABLENAME + ' FROM COREETL.DBO.' + @CORTABLENAME + ' A INNER JOIN (SELECT ' + @SQL + ' FROM COREETL.DBO.' + @CORTABLENAME + ' WHERE REC_INSRT_NAME = ' + CAST(@REPLOADTABLEID AS VARCHAR(100)) + ' GROUP BY ' +  @SQL + ' HAVING COUNT(*) > 1) B ON ' + @COLS + ' WHERE A.REC_INSRT_NAME = ' + CAST(@REPLOADTABLEID AS VARCHAR(100)) + ';

                COMMIT TRAN T1

                IF (@@ERROR <> 0) GOTO E_ERROR
        END 

        DROP TABLE #TEMP2


        --<BEG>----------------LOG STEP
  	INSERT INTO '+ @TEMPTABLENAME + ' VALUES (''[800-->END LOG DUPLICATES]' + CHAR(9) + ''' + CONVERT(VARCHAR(100),GETDATE(),101) + '' '' + CONVERT(VARCHAR(100),GETDATE(),114));
        --<END>----------------LOG STEP

'

SELECT @PROCSQL9 = '
        ------------------------------------------------------------------------------------
        --900
        --EXPORT ETL TO TEXT FILES
        ------------------------------------------------------------------------------------
        --<BEG>----------------LOG STEP
  	INSERT INTO '+ @TEMPTABLENAME + ' VALUES (''[900-->BEG EXTRACT TO TEXT]' + CHAR(9) + ''' + CONVERT(VARCHAR(100),GETDATE(),101) + '' '' + CONVERT(VARCHAR(100),GETDATE(),114));
        --<END>----------------LOG STEP

        '

        SELECT @VIEWSQL1 = '
        --DROP OLD VIEW
        IF EXISTS (SELECT * FROM SYSOBJECTS WHERE ID = OBJECT_ID(N''dbo.REP_' + @REPTABLENAME + ''') AND OBJECTPROPERTY(ID, N''ISVIEW'') = 1)
        BEGIN
                DROP VIEW dbo.REP_' + @REPTABLENAME + '
        END'
	
        SELECT @VIEWSQL2 = '
        --BUILD NEW VIEW
        CREATE VIEW dbo.REP_' + @REPTABLENAME + ' AS SELECT ' 

	IF LEN(@STAGECOLUMNS) > 1000
	BEGIN
		SELECT @CHARINDEX = CHARINDEX (',',@STAGECOLUMNS,  1000)
		SELECT @STAGECOLUMNS1 = SUBSTRING(@STAGECOLUMNS, 1, @CHARINDEX - 1)
	        SELECT @COLLISTSQL = DBO.REP_CTLFORMATCOLS(@STAGECOLUMNS1,@CORTABLENAME,@UPPERLOWERCASE)

		SELECT @STAGECOLUMNS1 = SUBSTRING(@STAGECOLUMNS, @CHARINDEX + 1, LEN(@STAGECOLUMNS))
	        SELECT @COLLISTSQL1 = DBO.REP_CTLFORMATCOLS(@STAGECOLUMNS1,@CORTABLENAME,@UPPERLOWERCASE)
	
		SELECT @VIEWSQL3 = @COLLISTSQL 
		SELECT @VIEWSQL4 = ',' + @COLLISTSQL1 + ' from COREETL.DBO.' + @CORTABLENAME + ' where REC_INSRT_NAME = ''' + cast(@REPLOADTABLEID as varchar(100)) + ''''
	END
	ELSE
	BEGIN
	        SELECT @COLLISTSQL = DBO.REP_CTLFORMATCOLS(@STAGECOLUMNS,@CORTABLENAME,@UPPERLOWERCASE)
		SELECT @VIEWSQL3 = @COLLISTSQL + ' from COREETL.DBO.' + @CORTABLENAME + ' where REC_INSRT_NAME = ''' + cast(@REPLOADTABLEID as varchar(100)) + ''''
	END


        --SELECT @COLLISTSQL = DBO.REP_CTLFORMATCOLS(@STAGECOLUMNS,@CORTABLENAME,@UPPERLOWERCASE)

        


 SELECT @PROCSQL9 = @PROCSQL9 + '
        
        --EXECUTE BCP
        CREATE TABLE #BCPOUTPUT (RESULT VARCHAR(255))

        --changed from SBGETL to @@SERVERNAME for issue 7094  
		set @CMD = ''bcp "SELECT * from CORE1.DBO.REP_' + @REPTABLENAME + '" queryout ' + @STAGEOUTPUTFOLDER + '\SQLLDR_TXT\' + @REPTABLENAME + '.TXT -S' + @@SERVERNAME + ' -T -c -t"<--REPDLMTR-->"''

        INSERT INTO #BCPOUTPUT EXEC @RSLTS = MASTER..XP_CMDSHELL @CMD

        IF (@@ERROR <> 0) GOTO E_ERROR


        IF @RSLTS <> 0
        BEGIN

                DECLARE CRSR_RESULTS CURSOR FOR SELECT RESULT FROM #BCPOUTPUT
                OPEN CRSR_RESULTS
                SELECT @ERRORRESULTS = ''''
                FETCH Next FROM CRSR_RESULTS INTO @OUTPUT
                WHILE @@FETCH_STATUS=0
                BEGIN
                        SELECT @ERRORRESULTS = @ERRORRESULTS + CASE WHEN @OUTPUT IS NOT NULL THEN @OUTPUT + CHAR(13) + CHAR(10) ELSE '''' END
                        FETCH Next FROM CRSR_RESULTS INTO @OUTPUT
                END
                CLOSE CRSR_RESULTS
                DEALLOCATE CRSR_RESULTS

	  	INSERT INTO '+ @TEMPTABLENAME + ' VALUES (@ERRORRESULTS);

				SELECT @ERRORRESULTS = ''REP_' + @REPTABLENAME + ' FAILED AT 900.  BCP FAILED. ''+ CHAR(13) + CHAR(10) + @ERRORRESULTS
                RAISERROR (@ERRORRESULTS, 16, 1)
                GOTO E_ERROR
        END


        --<BEG>----------------LOG STEP
	INSERT INTO '+ @TEMPTABLENAME + ' VALUES (''[900-->END EXTRACT TO TEXT]' + CHAR(9) + ''' + CONVERT(VARCHAR(100),GETDATE(),101) + '' '' + CONVERT(VARCHAR(100),GETDATE(),114));
        --<END>----------------LOG STEP'

SELECT @PROCSQL10 = '
        ------------------------------------------------------------------------------------
        --950
        --RUN SQLLDR
        ------------------------------------------------------------------------------------
        --<BEG>----------------LOG STEP
	INSERT INTO '+ @TEMPTABLENAME + ' VALUES (''[950-->BEG RUN SQLLDR]' + CHAR(9) + ''' + CONVERT(VARCHAR(100),GETDATE(),101) + '' '' + CONVERT(VARCHAR(100),GETDATE(),114));
        --<END>----------------LOG STEP


        CREATE TABLE #SQLLDROUTPUT (RESULT VARCHAR(255))
        CREATE TABLE #SQLLDRINPUT (RESULT VARCHAR(2555))

        --BUILD COMMAND TO EXECUTE ORACLE PROC. Added the SQLLDR path for issue 7094
        SELECT @CMD = ''' + @SQLLDRPATH + 'sqlldr.exe '' + @ORACLECONNECTION + '' errors=' + CAST(@ERRORCOUNT AS VARCHAR(100)) + ' direct=true control=' + @STAGEOUTPUTFOLDER + '\SQLLDR_CTL\' + @REPTABLENAME + '.CTL log=' + @STAGEOUTPUTFOLDER + '\SQLLDR_LOG\' + @REPTABLENAME + '.log''
        

        --EXECUTE COMMAND INTO TEMP TABLE
        INSERT INTO #SQLLDROUTPUT EXEC @RSLTS = MASTER..XP_CMDSHELL @CMD


        IF (@@ERROR <> 0) GOTO E_ERROR

        --SEARCH FOR ERRORS
        IF  @RSLTS in (0,2)
        BEGIN

                SELECT @CMD = ''BULK INSERT #SQLLDRINPUT FROM ''''' + @STAGEOUTPUTFOLDER + '\SQLLDR_LOG\' + @REPTABLENAME + '.LOG'''' WITH (ROWTERMINATOR = ''''\n'''')''
                EXEC SP_EXECUTESQL @CMD

                IF (@@ERROR <> 0) GOTO E_ERROR

                SELECT @RECORDSLOADED = CASE WHEN result like ''%Rows successfully loaded.'' THEN CAST(ltrim(rtrim(replace(result,''Rows successfully loaded.'',''''))) AS INT) WHEN result like ''%Row successfully loaded.'' THEN CAST(ltrim(rtrim(replace(result,''Row successfully loaded.'',''''))) AS INT) END FROM #SQLLDRINPUT where result like ''%Rows successfully loaded.'' OR  result like ''%Row successfully loaded.''

                IF (@@ERROR <> 0) GOTO E_ERROR

                SELECT @RECORDSERRORED = CASE WHEN result like ''%Rows not loaded due to data errors.'' THEN CAST(ltrim(rtrim(replace(result,''Rows not loaded due to data errors.'',''''))) AS INT) WHEN result like ''%Row not loaded due to data errors.'' THEN CAST(ltrim(rtrim(replace(result,''Row not loaded due to data errors.'',''''))) AS INT) END FROM #SQLLDRINPUT where result like ''%Rows not loaded due to data errors.'' OR  result like ''%Row not loaded due to data errors.''

                IF (@@ERROR <> 0) GOTO E_ERROR

                IF @RECORDSLOADED IS NULL
                BEGIN
						SELECT @ERRORRESULTS = ''REP_' + @REPTABLENAME + ' FAILED AT 950.  SQLLDR FAILED 001'' + CHAR(13) + CHAR(10) 
						RAISERROR (@ERRORRESULTS, 16, 1)
                        GOTO E_ERROR
                END

                IF @RECORDSERRORED > ' + CAST(@ERRORCOUNT AS VARCHAR(100)) + '
                BEGIN
						SELECT @ERRORRESULTS = ''REP_' + @REPTABLENAME + ' FAILED AT 950.  SQLLDR EXCEEDED ALLOWED NUMBER OF ERRORS AS SPECIFIED IN PRM_REPLOADTABLES.'' + CHAR(13) + CHAR(10) 
						RAISERROR (@ERRORRESULTS, 16, 1)
                        GOTO E_ERROR
                END

        END 
        ELSE
        BEGIN'
select @PROCSQL10_5 = '

                DECLARE CRSR_RESULTS CURSOR FOR SELECT RESULT FROM #SQLLDROUTPUT
                OPEN CRSR_RESULTS
                SELECT @ERRORRESULTS = ''''
                FETCH Next FROM CRSR_RESULTS INTO @OUTPUT
                WHILE @@FETCH_STATUS=0
                BEGIN
                        SELECT @ERRORRESULTS = @ERRORRESULTS + CASE WHEN @OUTPUT IS NOT NULL THEN @OUTPUT + CHAR(13) + CHAR(10) ELSE '''' END
                        FETCH Next FROM CRSR_RESULTS INTO @OUTPUT
                END
                CLOSE CRSR_RESULTS
                DEALLOCATE CRSR_RESULTS

		INSERT INTO '+ @TEMPTABLENAME + ' VALUES (@ERRORRESULTS);

                --IF (@@ERROR <> 0) GOTO E_ERROR

				SELECT @ERRORRESULTS = ''REP_' + @REPTABLENAME + ' FAILED AT 950.  SQLLDR FAILED 002. ''+ CHAR(13) + CHAR(10) + @ERRORRESULTS
                RAISERROR (@ERRORRESULTS, 16, 1)
                GOTO E_ERROR
        END

        DROP TABLE #SQLLDROUTPUT
        DROP TABLE #SQLLDRINPUT

        --<BEG>----------------LOG STEP
	INSERT INTO '+ @TEMPTABLENAME + ' VALUES (''[950-->END RUN SQLLDR]' + CHAR(9) + ''' + CONVERT(VARCHAR(100),GETDATE(),101) + '' '' + CONVERT(VARCHAR(100),GETDATE(),114));
        --<END>----------------LOG STEP

'

SELECT @PROCSQL11 = '
        ------------------------------------------------------------------------------------

        --1000
        --CHECK FOR SQLLDR ERRORS
        ------------------------------------------------------------------------------------
        --<BEG>----------------LOG STEP
	INSERT INTO '+ @TEMPTABLENAME + ' VALUES (''[1000-->BEG LOG SQLLDR ERRORS]' + CHAR(9) + ''' + CONVERT(VARCHAR(100),GETDATE(),101) + '' '' + CONVERT(VARCHAR(100),GETDATE(),114));
        --<END>----------------LOG STEP

        SELECT TOP 0 ' + @STAGECOLUMNS + ' INTO #TEMPSQLLDRERROR FROM COREETL.DBO.' + @CORTABLENAME + '

        IF (@@ERROR <> 0) GOTO E_ERROR

        BULK INSERT #TEMPSQLLDRERROR FROM ''' + @STAGEOUTPUTFOLDER + '\SQLLDR_BAD\' + @REPTABLENAME + '.bad''' + ' WITH (FIELDTERMINATOR = ''<--REPDLMTR-->'',ROWTERMINATOR = ''\n'')
	'

SELECT @PROCSQL11_1 = '
        IF (@@ERROR <> 0) GOTO E_ERROR

        INSERT INTO COREERRLOG.DBO.REPERRORLOG (ERRORDATE, ERRORMESSAGE, ERRORDATA,ERRORSOURCE,SYSTEM) SELECT GETDATE(),''SQLLDR WAS UNABLE TO LOAD '' + CAST(COUNT(*) AS VARCHAR(100)) + '' RECORD(S) INTO ' + @CORTABLENAME + ' DUE TO A SQLLDR ERROR'',''REFER TO ERR TABLE FOR DETAIL'',''REP'',''' + RTRIM(@ALPHASYSTEM) + ''' FROM #TEMPSQLLDRERROR HAVING COUNT(*) > 0
                                                                                                                                                                                                                
        IF (@@ERROR <> 0) GOTO E_ERROR

        SELECT @ERRORID = @@IDENTITY FROM coreerrlog.dbo.reperrorlog

        IF (@@ERROR <> 0) GOTO E_ERROR

        INSERT INTO COREERRLOG.DBO.' + REPLACE(@CORTABLENAME,'COR_','ERR_') + '
        (' + @STAGECOLUMNS + ',ADU,DATETIMESTAMP,REPERRORID)
	'

SELECT @PROCSQL11_2 = 'SELECT ' + @STAGECOLUMNS + ',''A'',GETDATE(),@ERRORID 
        FROM #TEMPSQLLDRERROR
	'

SELECT @PROCSQL11_5 = '

        IF (@@ERROR <> 0) GOTO E_ERROR

        --<BEG>----------------LOG STEP
	INSERT INTO '+ @TEMPTABLENAME + ' VALUES (''[1000-->END LOG SQLLDR ERRORS]' + CHAR(9) + ''' + CONVERT(VARCHAR(100),GETDATE(),101) + '' '' + CONVERT(VARCHAR(100),GETDATE(),114));
        --<END>----------------LOG STEP

'

SELECT @PROCSQL12 = '
        ------------------------------------------------------------------------------------
        --1100
        --WAIT FOR PARENTS TO COMPLETE
        ------------------------------------------------------------------------------------

        --<BEG>----------------LOG STEP
	INSERT INTO '+ @TEMPTABLENAME + ' VALUES (''[1100-->BEG WAIT FOR PARENTS]' + CHAR(9) + ''' + CONVERT(VARCHAR(100),GETDATE(),101) + '' '' + CONVERT(VARCHAR(100),GETDATE(),114));
        --<END>----------------LOG STEP

        SET @PARENTSCOMPLETE = 0
        
        --LOOP UNTIL ALL PARENTS ARE COMPLETED
        WHILE @PARENTSCOMPLETE <> 1
        BEGIN
                --SEE IF ANY PARENT TABLES ARE STILL RUNNING
                select @iPendingParent = COUNT(*) 
                from 
                prm_reploadtables a
                inner join
                prm_repparentprecedence b
                on
                a.repcoretableid = b.repcoretableid
                and b.parentid in (select repcoretableid from prm_reploadtables with(nolock) where systemid = ' + CAST(@SYSTEMID AS VARCHAR(100)) + ')
                inner join
                prm_repcoretables c
                on b.parentid = c.repcoretableid
                inner join
                prm_reploadtables d
                on c.repcoretableid = d.repcoretableid
		and d.systemid = ' + CAST(@SYSTEMID AS VARCHAR(100)) + '
                and isnull(d.subsystemid,-1)= '+ CAST(@SUBSYSTEMID AS VARCHAR(100)) + '
                where
                not exists(select 1 from mc_segment z with(nolock) where z.segmentinstance = dbo.REP_STAGENAME(c.coretablename,d.reploadtableid) and z.segment = ''REPLICA TRANSFER'' and z.sysprocessedlogid = @SYSPROCESSEDLOGID and z.completed = ''T'')
                and a.reploadtableid = ' + CAST(@REPLOADTABLEID AS VARCHAR(100)) + '
                
                IF (@@ERROR <> 0) GOTO E_ERROR
                
                --SEE IF ANY TABLE LEVEL PRECEDENT-BASED TABLES ARE STILL RUNNING
                select @iPendingTableParent = count(*) 
                from 
                prm_reploadtables a
                inner join
                prm_reploadtables c
                on a.tablelevelprecedence = c.reploadtableid
                inner join
                prm_repcoretables b
                on c.repcoretableid = b.repcoretableid
                where
                not exists(select 1 from mc_segment z with(nolock) where z.segmentinstance = dbo.REP_STAGENAME(b.coretablename,a.tablelevelprecedence) and z.segment = ''REPLICA TRANSFER'' and z.sysprocessedlogid = @SYSPROCESSEDLOGID and z.completed = ''T'')
                and a.reploadtableid = ' + CAST(@REPLOADTABLEID AS VARCHAR(100)) + '
                
                IF (@@ERROR <> 0) GOTO E_ERROR

                IF  @iPendingTableParent + @iPendingParent > 0 
                BEGIN
                        select @PARENTSCOMPLETE = 0
                        WAITFOR DELAY ''00:00:30''
                END 
                ELSE
                BEGIN
                        SELECT @PARENTSCOMPLETE = 1
                END
        
               
        END


        --<BEG>----------------LOG STEP
	INSERT INTO '+ @TEMPTABLENAME + ' VALUES (''[1100-->END WAIT FOR PARENTS]' + CHAR(9) + ''' + CONVERT(VARCHAR(100),GETDATE(),101) + '' '' + CONVERT(VARCHAR(100),GETDATE(),114));
        --<END>----------------LOG STEP


'

SELECT @PROCSQL13 = '
        ------------------------------------------------------------------------------------
        --1200
        --FILTER ORACLE ERRORS
        ------------------------------------------------------------------------------------
        --<BEG>----------------LOG STEP
	INSERT INTO '+ @TEMPTABLENAME + ' VALUES (''[1200-->BEG FILTER ORACLE ERRORS]' + CHAR(9) + ''' + CONVERT(VARCHAR(100),GETDATE(),101) + '' '' + CONVERT(VARCHAR(100),GETDATE(),114));
        --<END>----------------LOG STEP

        -- UPDATE STARTDATETIMESTAMP IN MC_SEGMENT TO REFLECT WHEN ERROR CHECKING BEGINS
        UPDATE MC_SEGMENT
        SET STARTDATETIMESTAMP = GETDATE()
        WHERE SEGMENT = ''REPLICA TRANSFER'' AND SYSPROCESSEDLOGID = @SYSPROCESSEDLOGID AND SEGMENTINSTANCE = ''' + @REPTABLENAME + '''

        '

        --DON'T FILTER ERRORS IF THIS IS CORE_JOB_ID
        --COR_JOB_ID HAS A CONSTRAINT THAT POINTS TO ITSELF.  THE FOLLOWING CODE ADDRESSES THIS.
	--COR_ASSET_SOURCE_DETAIL TAKES AN EXTRAORDINARY LONG TIME TO RUN.  DON'T FILTER ERRORS.
	--COR_X_FUND_DETAIL TAKES AN EXTRAORDINARY LONG TIME TO RUN.  DON'T FILTER ERRORS.

        IF @CORTABLENAME <> 'COR_JOB'
	AND @CORTABLENAME <> 'COR_ASSET_SOURCE_DETAIL'
	AND @CORTABLENAME <> 'COR_X_FUND_DETAIL'
        BEGIN

SELECT @PROCSQL13_5 = '        
                CREATE TABLE #LOAD0RAOUTPUT (RESULT VARCHAR(255))
                CREATE TABLE #ERRCOUNT (RESULT VARCHAR(255))

                --BUILD COMMAND TO EXECUTE ORACLE PROC
                SELECT @CMD =  ''ECHO EXEC SBGSTAGE.SPE_' + @REPTABLENAME + ';| SQLPLUS '' + @ORACLECONNECTION 

                IF (@@ERROR <> 0) GOTO E_ERROR
        
                --EXECUTE COMMAND INTO TEMP TABLE
                INSERT INTO #LOAD0RAOUTPUT EXEC @RSLTS = MASTER..XP_CMDSHELL @CMD
        
                IF (@@ERROR <> 0) GOTO E_ERROR
        
                --SEARCH FOR ERRORS 
                IF (SELECT COUNT(*) FROM #LOAD0RAOUTPUT WHERE RESULT LIKE ''%ORA-%'') = 0 AND @RSLTS = 0
                BEGIN
                --Modified by Senthilkumar Sekaran as on 02-18-2013 for issue no: 7074

                        SELECT @CMD = N''SELECT CNT FROM OPENQUERY('+@LINKEDSERVERNAME+',''''SELECT COUNT(*) AS CNT FROM SBGSTAGE.BAD_' + @REPTABLENAME + ''''')''
                        --SELECT @CMD = N''SELECT CNT FROM OPENROWSET(''''OraOLEDB.Oracle'''','' + @CONNSTRING + '',''''SELECT COUNT(*) AS CNT FROM SBGSTAGE.BAD_' + @REPTABLENAME + ''''')''
				--Modified by Senthilkumar Sekaran as on 02-18-2013
        
                                INSERT INTO #ERRCOUNT EXEC SP_EXECUTESQL @CMD                
        
                        IF (@@ERROR <> 0) GOTO E_ERROR

                        IF (SELECT RESULT FROM #ERRCOUNT) > ' + CAST(@ERRORCOUNT AS VARCHAR(100)) + '
                        BEGIN
								SELECT @ERRORRESULTS = ''REP_' + @REPTABLENAME + ' FAILED AT 1200.  ORACLE SPE PROC FAILED.  EXCEEDED MAX ALLOWED ERRORS. ''+ CHAR(13) + CHAR(10) 
								RAISERROR (@ERRORRESULTS, 16, 1)
                                GOTO E_ERROR
                        END
                END 
                ELSE
                BEGIN


                        DECLARE CRSR_RESULTS CURSOR FOR SELECT RESULT FROM #LOAD0RAOUTPUT
                        OPEN CRSR_RESULTS
                        SELECT @ERRORRESULTS = ''''
                        FETCH Next FROM CRSR_RESULTS INTO @OUTPUT
                        WHILE @@FETCH_STATUS=0
                        BEGIN
                                SELECT @ERRORRESULTS = @ERRORRESULTS + CASE WHEN @OUTPUT IS NOT NULL THEN @OUTPUT + CHAR(13) + CHAR(10) ELSE '''' END
                                FETCH Next FROM CRSR_RESULTS INTO @OUTPUT
                        END
                        CLOSE CRSR_RESULTS
                        DEALLOCATE CRSR_RESULTS
        
			INSERT INTO '+ @TEMPTABLENAME + ' VALUES (@ERRORRESULTS);

                        --IF (@@ERROR <> 0) GOTO E_ERROR
						SELECT @ERRORRESULTS = ''REP_' + @REPTABLENAME + ' FAILED AT 1200.  ORACLE SPE PROC FAILED. ''+ CHAR(13) + CHAR(10) + @ERRORRESULTS
						RAISERROR (@ERRORRESULTS, 16, 1)

                        GOTO E_ERROR
                END

                DROP TABLE #LOAD0RAOUTPUT
                DROP TABLE #ERRCOUNT'

        END

        SELECT @PROCSQL13_5 = @PROCSQL13_5 + '
        --DROP TABLE #LOAD0RAOUTPUT
        --DROP TABLE #ERRCOUNT

        --<BEG>----------------LOG STEP
	INSERT INTO '+ @TEMPTABLENAME + ' VALUES (''[1200-->END FILTER ORACLE ERRORS]' + CHAR(9) + ''' + CONVERT(VARCHAR(100),GETDATE(),101) + '' '' + CONVERT(VARCHAR(100),GETDATE(),114));
        --<END>----------------LOG STEP

'

SELECT @PROCSQL14 = '
        ------------------------------------------------------------------------------------
        --1300
        --LOAD ORACLE
        ------------------------------------------------------------------------------------
        --<BEG>----------------LOG STEP
	INSERT INTO '+ @TEMPTABLENAME + ' VALUES (''[1300-->BEG LOAD CORE]' + CHAR(9) + ''' + CONVERT(VARCHAR(100),GETDATE(),101) + '' '' + CONVERT(VARCHAR(100),GETDATE(),114));
        --<END>----------------LOG STEP


        CREATE TABLE #LOUTPUT (RESULT VARCHAR(255))
        CREATE TABLE #LLOADCOUNT (RESULT NUMERIC(18,0))
		


        --BUILD COMMAND TO EXECUTE ORACLE PROC
        SELECT @CMD =  ''ECHO EXEC SBGSTAGE.' + @PROC + @REPTABLENAME +';| SQLPLUS '' + @ORACLECONNECTION 
 
        IF (@@ERROR <> 0) GOTO E_ERROR

        --EXECUTE COMMAND INTO TEMP TABLE
        INSERT INTO #LOUTPUT EXEC @RSLTS = MASTER..XP_CMDSHELL @CMD

        IF (@@ERROR <> 0) GOTO E_ERROR

        --SEARCH FOR ERRORS 
        IF (SELECT COUNT(*) FROM #LOUTPUT WHERE RESULT LIKE ''%ORA-%'') = 0 AND @RSLTS = 0
        BEGIN
-- Modified by Senthilkumar Sekaran as on 02-18-2013 for issue no: 7074
                SELECT @CMD = N''SELECT CNT FROM OPENQUERY('+@LINKEDSERVERNAME+',''''SELECT COUNT(*) AS CNT FROM SBGSTAGE.' + @REPTABLENAME + ''''')''
				--SELECT @CMD = N''SELECT CNT FROM OPENROWSET(''''OraOLEDB.Oracle'''','' + @CONNSTRING + '',''''SELECT COUNT(*) AS CNT FROM SBGSTAGE.' + @REPTABLENAME + ''''')''
-- Modified by Senthilkumar Sekaran as on 02-18-2013 for issue no: 7074
                INSERT INTO #LLOADCOUNT EXEC SP_EXECUTESQL @CMD             

                IF (@@ERROR <> 0) GOTO E_ERROR

                --UPDATE MASTERGENID.COREMASTER.DBO.REP_TABLELOCK SET LOCKFLAG = 0,SUBSYSTEM = NULL WHERE CORETABLENAME = ''' + @CORTABLENAME + ''' AND SUBSYSTEM = @@SERVERNAME
                
                --IF (@@ERROR <> 0) GOTO E_ERROR

        END 
        ELSE
        BEGIN


                DECLARE CRSR_RESULTS CURSOR FOR SELECT RESULT FROM #LOUTPUT
                OPEN CRSR_RESULTS
                SELECT @ERRORRESULTS = ''''
                FETCH Next FROM CRSR_RESULTS INTO @OUTPUT
                WHILE @@FETCH_STATUS=0
                BEGIN
                        SELECT @ERRORRESULTS = @ERRORRESULTS + CASE WHEN @OUTPUT IS NOT NULL THEN @OUTPUT + CHAR(13) + CHAR(10) ELSE '''' END
                        FETCH Next FROM CRSR_RESULTS INTO @OUTPUT
                END
                CLOSE CRSR_RESULTS
                DEALLOCATE CRSR_RESULTS

		INSERT INTO '+ @TEMPTABLENAME + ' VALUES (@ERRORRESULTS);

                --IF (@@ERROR <> 0) GOTO E_ERROR
				SELECT @ERRORRESULTS = ''REP_' + @REPTABLENAME + ' FAILED AT 1300.  ORACLE LOAD PROC FAILED. ''+ CHAR(13) + CHAR(10) + @ERRORRESULTS
                RAISERROR (@ERRORRESULTS, 16, 1)

                GOTO E_ERROR
        END



        --<BEG>----------------LOG STEP
	INSERT INTO '+ @TEMPTABLENAME + ' VALUES (''[1300-->END LOAD CORE]' + CHAR(9) + ''' + CONVERT(VARCHAR(100),GETDATE(),101) + '' '' + CONVERT(VARCHAR(100),GETDATE(),114));
        --<END>----------------LOG STEP

'

SELECT @PROCSQL15 = '

        ------------------------------------------------------------------------------------
        --1350
        --LOG ORACLE LOAD ERRORS DETECTED BY FILTER ERROR STEP
        ------------------------------------------------------------------------------------
        --<BEG>----------------LOG STEP
	INSERT INTO '+ @TEMPTABLENAME + ' VALUES (''[1350-->BEG LOG ORA ERRORS]' + CHAR(9) + ''' + CONVERT(VARCHAR(100),GETDATE(),101) + '' '' + CONVERT(VARCHAR(100),GETDATE(),114));
        --<END>----------------LOG STEP


        CREATE TABLE #QLOADCOUNT (RESULT VARCHAR(255))

--Modified by Senthilkumar Sekaran as on 02-18-2013 for issue no: 7074
        SELECT @CMD = ''INSERT INTO COREERRLOG.DBO.REPERRORLOG (ERRORDATE, ERRORMESSAGE, ERRORDATA,ERRORSOURCE,SYSTEM) SELECT GETDATE(),''''UNABLE TO LOAD '''' + CAST(CNT AS VARCHAR(100)) + '''' RECORD(S) INTO ' + @CORTABLENAME + ' DUE TO A PARENT KEY CONSTRAINT ERROR'''',''''REFER TO ERR TABLE FOR DETAIL'''',''''REP'''',''''' + RTRIM(@ALPHASYSTEM) + ''''' FROM OPENQUERY('+@LINKEDSERVERNAME+',''''SELECT COUNT(*) AS CNT FROM SBGSTAGE.BAD_' + @REPTABLENAME + ''''') WHERE CNT > 0''
		--SELECT @CMD = ''INSERT INTO COREERRLOG.DBO.REPERRORLOG (ERRORDATE, ERRORMESSAGE, ERRORDATA,ERRORSOURCE,SYSTEM) SELECT GETDATE(),''''UNABLE TO LOAD '''' + CAST(CNT AS VARCHAR(100)) + '''' RECORD(S) INTO ' + @CORTABLENAME + ' DUE TO A PARENT KEY CONSTRAINT ERROR'''',''''REFER TO ERR TABLE FOR DETAIL'''',''''REP'''',''''' + RTRIM(@ALPHASYSTEM) + ''''' FROM OPENROWSET(''''OraOLEDB.Oracle'''','' + @CONNSTRING + '',''''SELECT COUNT(*) AS CNT FROM SBGSTAGE.BAD_' + @REPTABLENAME + ''''') WHERE CNT > 0''
--Modified by Senthilkumar Sekaran as on 02-18-2013 for issue no: 7074
        EXEC SP_EXECUTESQL @CMD

        IF (@@ERROR <> 0) GOTO E_ERROR

        SELECT @ERRORID = @@IDENTITY FROM COREERRLOG.DBO.REPERRORLOG

        IF (@@ERROR <> 0) GOTO E_ERROR
'

SELECT @PROCSQL15_1 = '

        SELECT @CMD1 = ''INSERT INTO COREERRLOG.DBO.' + REPLACE(@CORTABLENAME,'COR_','ERR_') + '
        (' + @STAGECOLUMNS + ',ADU,DATETIMESTAMP,REPERRORID)' 
--Modified by Senthilkumar Sekaran as on 02-18-2013 for issue no: 7074
--SELECT @PROCSQL15_5 = 'SELECT ' + @STAGECOLUMNS + ',''''A'''',GETDATE(),'' + cast(@ERRORID as varchar(100)) + '' FROM OPENROWSET(''''OraOLEDB.Oracle'''','' + @CONNSTRING + '',''''SELECT * FROM SBGSTAGE.BAD_' + @REPTABLENAME + ''''')''
SELECT @PROCSQL15_5 = 'SELECT ' + @STAGECOLUMNS + ',''''A'''',GETDATE(),'' + cast(@ERRORID as varchar(100)) + '' FROM OPENQUERY('+@LINKEDSERVERNAME+',''''SELECT * FROM SBGSTAGE.BAD_' + @REPTABLENAME + ''''')''

	SELECT @CMD1 =  REPLACE(@CMD1,'''''''','''''''''''') 

	EXEC (N''EXEC SP_EXECUTESQL N'''''' +  @CMD1  + '''''''')

        IF (@@ERROR <> 0) GOTO E_ERROR

        DROP TABLE #QLOADCOUNT

        --<BEG>----------------LOG STEP
	INSERT INTO '+ @TEMPTABLENAME + ' VALUES (''[1350-->END LOG ORA ERRORS]' + CHAR(9) + ''' + CONVERT(VARCHAR(100),GETDATE(),101) + '' '' + CONVERT(VARCHAR(100),GETDATE(),114));
        --<END>----------------LOG STEP

'
--Modified by Senthilkumar Sekaran as on 02-18-2013 for issue no: 7074
SELECT @PROCSQL16 = '
        ------------------------------------------------------------------------------------
        --1400
        --COMPLETE SEGMENT
        ------------------------------------------------------------------------------------
        --<BEG>----------------LOG STEP
        --PRINT ''[1400-->BEG COMPLETE SEGMENT]' + CHAR(9) + ''' + CONVERT(VARCHAR(100),GETDATE(),101) + '' '' + CONVERT(VARCHAR(100),GETDATE(),114)
        INSERT INTO LOG_RepResults (SYSPROCESSEDLOGID, REPLOADTABLEID, SEGMENT, DATETIMESTAMP, RESULTS) VALUES(@SYSPROCESSEDLOGID,' + CAST(@REPLOADTABLEID AS VARCHAR(100)) + ',''' + @REPTABLENAME + ''',GETDATE(),''[1400-->BEG COMPLETE SEGMENT]'')
        --<END>----------------LOG STEP


        UPDATE MC_SEGMENT
        SET ENDDATETIMESTAMP = GETDATE(),COMPLETED = ''T'', RECORDSPROCESSED = (SELECT RESULT FROM #LLOADCOUNT)
        WHERE SEGMENT = ''REPLICA TRANSFER'' AND SYSPROCESSEDLOGID = @SYSPROCESSEDLOGID AND SEGMENTINSTANCE = ''' + @REPTABLENAME + '''

        IF (@@ERROR <> 0) GOTO E_ERROR


        --<BEG>----------------LOG STEP
        --PRINT ''[1400-->END COMPLETE SEGMENT]' + CHAR(9) + ''' + CONVERT(VARCHAR(100),GETDATE(),101) + '' '' + CONVERT(VARCHAR(100),GETDATE(),114)
        INSERT INTO LOG_RepResults (SYSPROCESSEDLOGID, REPLOADTABLEID, SEGMENT, DATETIMESTAMP, RESULTS) VALUES(@SYSPROCESSEDLOGID,' + CAST(@REPLOADTABLEID AS VARCHAR(100)) + ',''' + @REPTABLENAME + ''',GETDATE(),''[1400-->END COMPLETE SEGMENT]'')
        --<END>----------------LOG STEP
'

SELECT @PROCSQL16_1 = '

        ------------------------------------------------------------------------------------
        --1500
        --RESET SPID FOR TRACKING PURPOSES
        ------------------------------------------------------------------------------------
        --<BEG>----------------LOG STEP
	INSERT INTO '+ @TEMPTABLENAME + ' VALUES (''[1500-->BEG RESET SPID]' + CHAR(9) + ''' + CONVERT(VARCHAR(100),GETDATE(),101) + '' '' + CONVERT(VARCHAR(100),GETDATE(),114));
        --<END>----------------LOG STEP

        UPDATE CORE1.DBO.PRM_REPLOADTABLES
        SET SPID_1 = NULL, PROCESSID = NULL
        WHERE REPLOADTABLEID = ' + CAST(@REPLOADTABLEID AS VARCHAR(100)) + '

        IF (@@ERROR <> 0) GOTO E_ERROR

        --<BEG>----------------LOG STEP
	INSERT INTO '+ @TEMPTABLENAME + ' VALUES (''[1500-->END RESET SPID]' + CHAR(9) + ''' + CONVERT(VARCHAR(100),GETDATE(),101) + '' '' + CONVERT(VARCHAR(100),GETDATE(),114));
        --<END>----------------LOG STEP

	Print @NREP_START_TIME
	--Added for issue 3825
	--CREATE TABLE #RECCOUNT (RESULT VARCHAR(255))
    --SELECT @CMD = N''SELECT CNT FROM OPENROWSET(''''OraOLEDB.Oracle'''','' + @CONNSTRING + '',''''SELECT ROWS_PROCESSED AS CNT FROM procedure_run_log WHERE PROCEDURE_NAME =''''''''' + @PROC + @REPTABLENAME + ''''''''' AND START_TIME >= TO_DATE('''''''''' + CONVERT(VARCHAR(100),@NREP_START_TIME,120) + '''''''''',''''''''YYYY-MM-DD HH:MI:SS'''''''') '''')''
    --INSERT INTO #RECCOUNT EXEC SP_EXECUTESQL @CMD                

    --IF (@@ERROR <> 0) GOTO E_ERROR

    SET @ROWSPROCESSED = (SELECT RESULT FROM #LLOADCOUNT)

	DROP TABLE #LLOADCOUNT

CLEANUP:
  --changed from SBGETL to @@SERVERNAME for issue 7094  
  SELECT    @sql = ''bcp "select EVENTTEXT FROM '+ @TEMPTABLENAME + ' " queryout ' + @STAGEOUTPUTFOLDER + '\DTS_LOG\' + @REPTABLENAME + '.TXT -S' + @@SERVERNAME + ' -T -c''
  -- execute BCP
  Exec master..xp_cmdshell @sql,no_output

  DROP TABLE '+ @TEMPTABLENAME + '
  
  SELECT @ROWSPROCESSED AS ROWSPROCESSED
		  
  RETURN

E_ERROR:
UPDATE CORE1.DBO.PRM_REPLOADTABLES
SET SPID_1 = NULL, PROCESSID = NULL
WHERE REPLOADTABLEID = ' + CAST(@REPLOADTABLEID AS VARCHAR(100)) + '
INSERT INTO '+ @TEMPTABLENAME + ' VALUES (''ERROR IS AS FOLLOWS: '' + @ERRORRESULTS);

GOTO CLEANUP

RETURN
'

SELECT @SQL = '
IF EXISTS (SELECT * FROM SYSOBJECTS WHERE ID = OBJECT_ID(N''dbo.NREP_' + @REPTABLENAME + ''') AND OBJECTPROPERTY(ID, N''ISPROCEDURE'') = 1)
BEGIN
        DROP PROCEDURE ' + 'dbo.NREP_' + @REPTABLENAME + '
END'

 PRINT @PROCSQL1
 PRINT @PROCSQL2
 PRINT @PROCSQL3
 PRINT @PROCSQL4
 PRINT @PROCSQL4_5
 PRINT @PROCSQL4_7
 PRINT @PROCSQL5
 PRINT @PROCSQL6
 PRINT @PROCSQL6_5
 PRINT @PROCSQL6_6
 PRINT @PROCSQL6_7
 PRINT @PROCSQL6_8
 PRINT @PROCSQL7
 PRINT @PROCSQL7_1
 PRINT @PROCSQL7_5
 PRINT @PROCSQL8
 PRINT @PROCSQL9
 PRINT @PROCSQL10
 PRINT @PROCSQL10_5
 PRINT @PROCSQL11
 PRINT @PROCSQL11_1
 PRINT @PROCSQL11_2
 PRINT @PROCSQL11_5
 PRINT @PROCSQL13
 PRINT @PROCSQL13_5
 PRINT @PROCSQL14
 PRINT @PROCSQL15
 PRINT @PROCSQL15_1
 PRINT @PROCSQL15_5
 PRINT @PROCSQL16
 PRINT @PROCSQL16_1
 PRINT @SQL

--MADE IT THIS FAR
SELECT @PROCSQL1 = REPLACE(@PROCSQL1,'''','''''') 
SELECT @PROCSQL2 = REPLACE(@PROCSQL2,'''','''''')
SELECT @PROCSQL3 = REPLACE(@PROCSQL3,'''','''''') 
SELECT @PROCSQL4 = REPLACE(@PROCSQL4,'''','''''') 
SELECT @PROCSQL4_5 = REPLACE(@PROCSQL4_5,'''','''''') 
SELECT @PROCSQL4_7 = REPLACE(@PROCSQL4_7,'''','''''') 
SELECT @PROCSQL5 = REPLACE(@PROCSQL5,'''','''''') 
SELECT @PROCSQL6 = REPLACE(@PROCSQL6,'''','''''') 
SELECT @PROCSQL6_5 = REPLACE(@PROCSQL6_5,'''','''''') 
SELECT @PROCSQL6_6 = REPLACE(@PROCSQL6_6,'''','''''') 
SELECT @PROCSQL6_7 = REPLACE(@PROCSQL6_7,'''','''''') 
SELECT @PROCSQL6_8 = REPLACE(@PROCSQL6_8,'''','''''') 
SELECT @PROCSQL7 = REPLACE(@PROCSQL7,'''','''''') 
SELECT @PROCSQL7_1 = REPLACE(@PROCSQL7_1,'''','''''') 
SELECT @PROCSQL7_5 = REPLACE(@PROCSQL7_5,'''','''''') 
SELECT @PROCSQL8 = REPLACE(@PROCSQL8,'''','''''')
SELECT @PROCSQL9 = REPLACE(@PROCSQL9,'''','''''') 
SELECT @PROCSQL10 = REPLACE(@PROCSQL10,'''','''''') 
SELECT @PROCSQL10_5 = REPLACE(@PROCSQL10_5,'''','''''') 
SELECT @PROCSQL11 = REPLACE(@PROCSQL11,'''','''''') 
SELECT @PROCSQL11_1 = REPLACE(@PROCSQL11_1,'''','''''') 
SELECT @PROCSQL11_2 = REPLACE(@PROCSQL11_2,'''','''''') 
SELECT @PROCSQL11_5 = REPLACE(@PROCSQL11_5,'''','''''') 
SELECT @PROCSQL12 = REPLACE(@PROCSQL12,'''','''''') 
SELECT @PROCSQL13 = REPLACE(@PROCSQL13,'''','''''') 
SELECT @PROCSQL13_5 = REPLACE(@PROCSQL13_5,'''','''''') 
SELECT @PROCSQL14 = REPLACE(@PROCSQL14,'''','''''') 
SELECT @PROCSQL15 =  REPLACE(@PROCSQL15,'''','''''') 
SELECT @PROCSQL15_1 =  REPLACE(@PROCSQL15_1,'''','''''') 
SELECT @PROCSQL15_5 =  REPLACE(@PROCSQL15_5,'''','''''') 
SELECT @PROCSQL16 =  REPLACE(@PROCSQL16,'''','''''') 
SELECT @PROCSQL16_1 =  REPLACE(@PROCSQL16_1,'''','''''') 
SELECT @VIEWSQL2 =  REPLACE(@VIEWSQL2,'''','''''') 
SELECT @VIEWSQL3 =  REPLACE(@VIEWSQL3,'''','''''') 
SELECT @VIEWSQL4 =  REPLACE(@VIEWSQL4,'''','''''') 

print @VIEWSQL2
print @VIEWSQL3
print @VIEWSQL4

EXEC SP_EXECUTESQL @VIEWSQL1
EXEC (N'EXEC SP_EXECUTESQL N''' + @VIEWSQL2 + @VIEWSQL3 + @VIEWSQL4 + '''')
EXEC SP_EXECUTESQL @SQL
print @SQL
--Print 'EXEC SP_EXECUTESQL N''' + @PROCSQL1 +  @PROCSQL2 +  @PROCSQL3 +  @PROCSQL4 + @PROCSQL4_5 + @PROCSQL4_7 + @PROCSQL5 +  @PROCSQL6 +  @PROCSQL6_5 +  @PROCSQL6_6 +  @PROCSQL6_7 +  @PROCSQL6_8 +  @PROCSQL7 +  @PROCSQL7_1 +  @PROCSQL7_5 +  @PROCSQL8 +  @PROCSQL9 +  @PROCSQL10 + @PROCSQL10_5 + @PROCSQL11 + @PROCSQL11_1 + @PROCSQL11_2 + @PROCSQL11_5 +  @PROCSQL12 +  @PROCSQL13 +  @PROCSQL13_5 +  @PROCSQL14 +  @PROCSQL15 +  @PROCSQL15_1 +  @PROCSQL15_5 +  @PROCSQL16 +  @PROCSQL16_1 + ''''
EXEC (N'EXEC SP_EXECUTESQL N''' + @PROCSQL1 +  @PROCSQL2 +  @PROCSQL3 +  @PROCSQL4 + @PROCSQL4_5 + @PROCSQL4_7 + @PROCSQL5 +  @PROCSQL6 +  @PROCSQL6_5 +  @PROCSQL6_6 +  @PROCSQL6_7 +  @PROCSQL6_8 +  @PROCSQL7 +  @PROCSQL7_1 +  @PROCSQL7_5 +  @PROCSQL8 +  @PROCSQL9 +  @PROCSQL10 + @PROCSQL10_5 + @PROCSQL11 + @PROCSQL11_1 + @PROCSQL11_2 + @PROCSQL11_5 +  @PROCSQL12 +  @PROCSQL13 +  @PROCSQL13_5 +  @PROCSQL14 +  @PROCSQL15 +  @PROCSQL15_1 +  @PROCSQL15_5 +  @PROCSQL16 +  @PROCSQL16_1 + '''')



FETCH Next FROM CRSR_MAIN INTO @REPLOADTABLEID,@CORTABLENAME,@UPPERLOWERCASE,@REPTABLENAME,@SOURCEFILEID,@BADPATH,@CTLPATH,@CRSTAGEPATH,@STAGEOUTPUTFOLDER,@STAGECOLUMNS,@ERRORCOUNT,@PROC,@TABLELEVELLOADS,@MULTIIND
END
CLOSE CRSR_MAIN
DEALLOCATE CRSR_MAIN
DEALLOCATE CRSR_CONSTS


RETURN













GO
