USE [Core1]
GO
/****** Object:  StoredProcedure [dbo].[USP_GENIDMrnngStarMthPerfB]    Script Date: 12/31/2024 8:49:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE  PROCEDURE [dbo].[USP_GENIDMrnngStarMthPerfB]
AS	

	SET NOCOUNT ON
	SET LOCK_TIMEOUT -1
	INSERT INTO GenIDMrnnngStarMthPerfB
	(SOURCESYSTEMKEY1,JOBID)
	SELECT DISTINCT SECID,ISNULL(A.JOBID,1)
	FROM MorningStarMthPerfB A
	LEFT OUTER JOIN
	GenIDMrnnngStarMthPerfB B
	ON A.SECID = B.SOURCESYSTEMKEY1 
	WHERE B.SOURCESYSTEMKEY1 IS NULL 
	
RETURN
GO
