USE [Core1]
GO
/****** Object:  StoredProcedure [dbo].[USP_GENIDBPAGREEMENTPARTYTELEPHONENUMBER]    Script Date: 12/31/2024 8:49:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USP_GENIDBPAGREEMENTPARTYTELEPHONENUMBER]
 AS

	/*
	CREATE DATETIME: Feb  8 2005  9:27AM
	COMMENTS: THIS PROCEDURE LOADS THE GENIDBPAGREEMENTPARTYTELEPHONENUMBER TABLE PULLING FROM THE COM_TELNUM COMMON TABLE.
	*/

	SET NOCOUNT ON
	SET LOCK_TIMEOUT -1

	INSERT INTO GENIDBPAGREEMENTPARTYTELEPHONENUMBER
	(SOURCESYSTEM,SOURCESYSTEMKEY1,SOURCESYSTEMKEY2,SOURCESYSTEMKEY3,SOURCESYSTEMKEY4,SOURCESYSTEMKEY5,SOURCESYSTEMKEY6,JOBID)
	SELECT DISTINCT A.TELNUM_SRC_TEXT,ISNULL(A.TELNUM1_KEY,'^'),ISNULL(A.TELNUM2_KEY,'^'),ISNULL(A.TELNUM3_KEY,'^'),ISNULL(A.TELNUM4_KEY,'^'),ISNULL(A.TELNUM5_KEY,'^'),ISNULL(A.TELNUM6_KEY,'^'), ISNULL(A.JOB_ID,1)
	FROM COM_TELNUM A
	LEFT OUTER JOIN
	GENIDBPAGREEMENTPARTYTELEPHONENUMBER B
	ON A.TELNUM_SRC_TEXT = B.SOURCESYSTEM AND ISNULL(A.TELNUM1_KEY,'^') = B.SOURCESYSTEMKEY1 AND ISNULL(A.TELNUM2_KEY,'^') = B.SOURCESYSTEMKEY2 AND ISNULL(A.TELNUM3_KEY,'^') = B.SOURCESYSTEMKEY3 AND ISNULL(A.TELNUM4_KEY,'^') = B.SOURCESYSTEMKEY4 AND ISNULL(A.TELNUM5_KEY,'^') = B.SOURCESYSTEMKEY5
	AND ISNULL(A.TELNUM6_KEY,'^') = B.SOURCESYSTEMKEY6 
        WHERE B.SOURCESYSTEM IS NULL 
	AND A.TELNUM_ASSOC_TYPE_CODE = 'AGRMNT' 
        AND A.ADU IN ('A','U')

RETURN 








GO
