USE [Core1]
GO
/****** Object:  StoredProcedure [dbo].[PROC_TRAC_LOAD_COM_AGRMNT_PARTY_ATHRZTN]    Script Date: 12/31/2024 8:49:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[PROC_TRAC_LOAD_COM_AGRMNT_PARTY_ATHRZTN] AS  
                        
SET NOCOUNT ON                        
SET LOCK_TIMEOUT -1                        
                        
INSERT INTO CORE1.dbo.COM_AGRMNT_PARTY_ATHRZTN (                
ADU,  
AGRMNT_PARTY_ATHRZTN_FROM_DATE,  
AGRMNT_PARTY_ATHRZTN_THRU_DATE,  
PARTY_ATHRZTN_TYPE_CODE,  
RECORD_TYPE_DESC,  
MNTC_SYSTEM_CODE,  
SRC_CYCLE_DATE,  
AGRMNT_PARTY_ATHRZTN_SRC_TEXT,  
AGRMNT_PARTY_ATHRZTN1_KEY,  
AGRMNT_PARTY_ATHRZTN2_KEY,  
AGRMNT_PARTY_ATHRZTN3_KEY,  
AGRMNT_PARTY_ATHRZTN4_KEY,  
AGRMNT_PARTY_ATHRZTN5_KEY,  
AGRMNT_PARTY_ATHRZTN6_KEY,  
MNTC_SYS_ATTR_SRC_TEXT,  
MNTC_SYS_ATTR1_KEY,  
MNTC_SYS_ATTR2_KEY,  
MNTC_SYS_ATTR3_KEY,  
MNTC_SYS_ATTR4_KEY,  
AGRMNT_PARTY_ID_SRC_TEXT,  
AGRMNT_PARTY_ID1_KEY,  
AGRMNT_PARTY_ID2_KEY,  
AGRMNT_PARTY_ID3_KEY,  
AGRMNT_PARTY_ID4_KEY,  
AGRMNT_PARTY_ID5_KEY             
 )                        
 SELECT                         
'U'AS ADU,  
FROM_Date AS AGRMNT_PARTY_ATHRZTN_FROM_DATE,  
CASE WHEN ISNULL(THRU_DATE,'1900-01-01') = '1900-01-01' THEN '2999-12-31' 
WHEN THRU_DATE = '1900-01-01 00:00:00.000' THEN '2999-12-31' 
ELSE  THRU_DATE END AS AGRMNT_PARTY_ATHRZTN_THRU_DATE, 
AGRMNT_PARTY_ATHRZTN_TYPE_CODE AS PARTY_ATHRZTN_TYPE_CODE,  
NULL AS RECORD_TYPE_DESC,  
Mntc_Sys_Code AS MNTC_SYSTEM_CODE,  
NULL AS SRC_CYCLE_DATE,  
Mntc_Sys_Code AS AGRMNT_PARTY_ATHRZTN_SRC_TEXT,  
AgreementParty_sys_attr_key1_text AS AGRMNT_PARTY_ATHRZTN1_KEY,  
AgreementParty_sys_attr_key2_text AS AGRMNT_PARTY_ATHRZTN2_KEY,  
AgreementParty_sys_attr_key3_text AS AGRMNT_PARTY_ATHRZTN3_KEY,  
AgreementParty_sys_attr_key4_text AS AGRMNT_PARTY_ATHRZTN4_KEY,  
AgreementParty_sys_attr_key5_text AS AGRMNT_PARTY_ATHRZTN5_KEY,  
'^'  AS AGRMNT_PARTY_ATHRZTN6_KEY,  
Mntc_Sys_Code AS MNTC_SYS_ATTR_SRC_TEXT,  
'V_AGREEMENTPARTYAUTHORIZATION'    AS MNTC_SYS_ATTR1_KEY,  
'COR_AGRMNT_PARTY_ATHRZTN' AS MNTC_SYS_ATTR2_KEY,  
'^' AS MNTC_SYS_ATTR3_KEY,  
'^' AS MNTC_SYS_ATTR4_KEY,  
Mntc_Sys_Code AS AGRMNT_PARTY_ID_SRC_TEXT,  
AgreementParty_sys_attr_key1_text AS AGRMNT_PARTY_ID1_KEY,  
AgreementParty_sys_attr_key2_text ASAGRMNT_PARTY_ID2_KEY,  
AgreementParty_sys_attr_key3_text AS AGRMNT_PARTY_ID3_KEY,  
AgreementParty_sys_attr_key4_text AS AGRMNT_PARTY_ID4_KEY,  
AgreementParty_sys_attr_key5_text AS AGRMNT_PARTY_ID5_KEY             
FROM DBO.TRACAgreementPArtyAuthorization  
GO
