USE [Core1]
GO
/****** Object:  StoredProcedure [dbo].[uspDT_ImportDataToOracle]    Script Date: 12/31/2024 8:49:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[uspDT_ImportDataToOracle] (@DATAPROCESSID INT,
    @IsNightlyCycle bit = 1)
AS
SET NOCOUNT ON
SET NOCOUNT ON

DECLARE	@MASTERPROCESSID INT
DECLARE @DESTCONNECTION VARCHAR(250)	
DECLARE @CTLTEXT NVARCHAR(4000)
DECLARE @CMD NVARCHAR(4000)
DECLARE @ORACLECONNECTION VARCHAR(255)
DECLARE @RSLTS INT
DECLARE @RECORDSLOADED INT
DECLARE @RECORDSERRORED INT
DECLARE @ERRORRESULTS VARCHAR(4000)
DECLARE @OUTPUT VARCHAR(255)
DECLARE @sql Nvarchar(4000) 
DECLARE @RERRMSG VARCHAR(255)

DECLARE @IMPORTFOLDERPATH VARCHAR(255)
DECLARE @CTLFILEPATH VARCHAR(500)
DECLARE @OUTPUTNAME VARCHAR(500)
DECLARE @TEMPOUTPUTTABLENAME VARCHAR(500)
DECLARE @OUTPUTCTLFILENAME VARCHAR(500)
DECLARE @OUTPUTLOGFILENAME VARCHAR(500)
DECLARE @FINLOGFILENAME VARCHAR(500)
DECLARE @SQLLDR_MAX_ERROR INT
DECLARE @USERID AS VARCHAR(100)
DECLARE @PASSWORD AS VARCHAR(100)
DECLARE @SERVER AS VARCHAR(100)
DECLARE @SQLLDRPATH AS VARCHAR(255)

		SET @MASTERPROCESSID = (SELECT MASTERPROCESSID FROM DT_DATAPROCESS WHERE DATAPROCESSID = @DATAPROCESSID)
		--Added for issue 3552
		If @IsNightlyCycle = 1
		Begin		
		   SET @DESTCONNECTION = (SELECT CONNECTIONSTRING FROM DT_CONNECTION WHERE CONNECTIONID 
										IN (SELECT DESTCONNECTIONID FROM DT_DATAPROCESS WHERE DATAPROCESSID = @DATAPROCESSID))
		end
		Else
		Begin
		   SET @DESTCONNECTION = (SELECT REALTIMECONNECTIONSTRING FROM DT_CONNECTION WHERE CONNECTIONID 
										IN (SELECT DESTCONNECTIONID FROM DT_DATAPROCESS WHERE DATAPROCESSID = @DATAPROCESSID))
		End

		SET @IMPORTFOLDERPATH = (SELECT IMPORTFILEFOLDER FROM DT_MASTERPROCESS WHERE MASTERPROCESSID = 	@MASTERPROCESSID)	
		
		--Get Server
		Select @SERVER = Data from dbo.Split(@DESTCONNECTION,';')
						where UPPER(Data) like 'DATA SOURCE%'
		Select @SERVER = DATA from Split(@SERVER,'=')
					where UPPER(Data) not like 'DATA SOURCE%'
		--Print @SERVER		

		--Get User Id
		Select @USERID = Data from dbo.Split(@DESTCONNECTION,';')
						where UPPER(Data) like 'USER ID%'

		Select @USERID = Data from dbo.Split(@USERID,'=')
					where UPPER(Data) not like 'USER ID%'
		--Print @USERID
		
		--Get Password
		Select @PASSWORD = Data from dbo.Split(@DESTCONNECTION,';')
					where UPPER(Data) like 'PASSWORD%'
		
		Select @PASSWORD = DATA from dbo.Split(@PASSWORD,'=')
					where UPPER(Data) not like 'PASSWORD%'
		--Print @PASSWORD

		SET @ORACLECONNECTION  =  @USERID + '/' + @PASSWORD + '@' + @SERVER
		
		Select  @ORACLECONNECTION         

		SET @OUTPUTNAME = (SELECT  DESTOBJECT FROM DT_DATAPROCESS WHERE DATAPROCESSID = @DATAPROCESSID)


		--SELECT @OUTPUTNAME = RIGHT ('0000'+ CAST (@DATAPROCESSID AS varchar), 4) + '_' + @OUTPUTNAME

		SELECT @TEMPOUTPUTTABLENAME = '##' + @OUTPUTNAME

		SELECT @OUTPUTCTLFILENAME = @IMPORTFOLDERPATH + 'SQLLDR_CTL\' + @OUTPUTNAME + '.CTL'

		SELECT @OUTPUTLOGFILENAME = @IMPORTFOLDERPATH + 'SQLLDR_LOG\' + @OUTPUTNAME + '.LOG'

		SELECT @FINLOGFILENAME = @IMPORTFOLDERPATH + 'DTS_LOG\' + @OUTPUTNAME + '.TXT'

		SET @SQLLDR_MAX_ERROR = (SELECT APPSETTINGVALUE FROM DT_APPSETTING WHERE APPSETTING = 'SQLLDR_MAX_ERRORS')

		--Drop the temp table if it exist already
		SELECT @SQL = 'if not object_id(''tempdb..'+ @TEMPOUTPUTTABLENAME + ''') is null
	    drop table '+ @TEMPOUTPUTTABLENAME 
		EXEC SP_EXECUTESQL @SQL

		--Create the temp table
		SELECT @SQL = 'CREATE TABLE ' + @TEMPOUTPUTTABLENAME + '(EVENTTEXT VARCHAR(1000))' 
		EXEC SP_EXECUTESQL @SQL

        CREATE TABLE #SQLLDROUTPUT (RESULT VARCHAR(255))
        CREATE TABLE #SQLLDRINPUT (RESULT VARCHAR(2555))

		SET @SQLLDRPATH = (SELECT Appsettingvalue FROM dt_appsetting WHERE Appsetting = 'SQLLDR_EXE_PATH')


        --BUILD COMMAND TO EXECUTE ORACLE PROC
        SELECT @CMD = @SQLLDRPATH + 'sqlldr.exe ' + @ORACLECONNECTION + ' errors=' + CAST(@SQLLDR_MAX_ERROR AS VARCHAR(3)) + ' direct=true control=' + @OUTPUTCTLFILENAME + ' log=' + @OUTPUTLOGFILENAME
        

        --EXECUTE COMMAND INTO TEMP TABLE
        INSERT INTO #SQLLDROUTPUT EXEC @RSLTS = MASTER..XP_CMDSHELL @CMD


        IF (@@ERROR <> 0) GOTO E_ERROR

        --SEARCH FOR ERRORS
        IF  @RSLTS in (0,2)
        BEGIN

                SELECT @CMD = 'BULK INSERT #SQLLDRINPUT FROM ''' + @OUTPUTLOGFILENAME + ''' WITH (ROWTERMINATOR = ''\n'')'
                EXEC SP_EXECUTESQL @CMD

                IF (@@ERROR <> 0) GOTO E_ERROR

				SET @ERRORRESULTS = (SELECT top 1 result  FROM #SQLLDRINPUT 
				where result like '%Rows not loaded due to data errors.' 
					OR  result like '%Row not loaded due to data errors.')

                SELECT @RECORDSLOADED = CASE 
				WHEN result like '%Rows successfully loaded.' THEN CAST(ltrim(rtrim(replace(result,'Rows successfully loaded.',''))) AS INT) 
				WHEN result like '%Row successfully loaded.' THEN CAST(ltrim(rtrim(replace(result,'Row successfully loaded.',''))) AS INT) END 
				FROM #SQLLDRINPUT 
				where result like '%Rows successfully loaded.' OR  result like '%Row successfully loaded.'

                IF (@@ERROR <> 0) GOTO E_ERROR

                SELECT @RECORDSERRORED = CASE WHEN result like '%Rows not loaded due to data errors.' 
						THEN CAST(ltrim(rtrim(replace(result,'Rows not loaded due to data errors.',''))) AS INT) 
					WHEN result like '%Row not loaded due to data errors.' 
						THEN CAST(ltrim(rtrim(replace(result,'Row not loaded due to data errors.',''))) AS INT) END 
				FROM #SQLLDRINPUT 
				where result like '%Rows not loaded due to data errors.' 
					OR  result like '%Row not loaded due to data errors.'

                IF (@@ERROR <> 0) GOTO E_ERROR

                IF @RECORDSLOADED IS NULL
                BEGIN
						--SELECT @RERRMSG = @OUTPUTNAME + ' SQLLDR FAILED 001'
                        RAISERROR (@ERRORRESULTS, 16, 1)
                        GOTO E_ERROR
                END

                IF @RECORDSERRORED > @SQLLDR_MAX_ERROR
                BEGIN
						SELECT @RERRMSG = @OUTPUTNAME + ' SQLLDR EXCEEDED ALLOWED NUMBER OF ERRORS AS SPECIFIED IN APPSETTING.'
                        RAISERROR (@RERRMSG , 16, 1)
                        GOTO E_ERROR
                END

        END 
        ELSE
        BEGIN

                DECLARE CRSR_RESULTS CURSOR FOR SELECT RESULT FROM #SQLLDROUTPUT
                OPEN CRSR_RESULTS
                SELECT @ERRORRESULTS = ''
                FETCH Next FROM CRSR_RESULTS INTO @OUTPUT
                WHILE @@FETCH_STATUS=0
                BEGIN
                        SELECT @ERRORRESULTS = @ERRORRESULTS + CASE WHEN @OUTPUT IS NOT NULL THEN @OUTPUT + CHAR(13) + CHAR(10) ELSE '' END
                        FETCH Next FROM CRSR_RESULTS INTO @OUTPUT
                END
                CLOSE CRSR_RESULTS
                DEALLOCATE CRSR_RESULTS

				SELECT @SQL = 'INSERT INTO ' + @TEMPOUTPUTTABLENAME + ' VALUES (''' + @ERRORRESULTS + ''')' 
				EXEC SP_EXECUTESQL @SQL


                IF (@@ERROR <> 0) GOTO E_ERROR

				SELECT @RERRMSG = @OUTPUTNAME + ' SQLLDR FAILED 002.'
                RAISERROR (@ERRORRESULTS, 16, 1)
                GOTO E_ERROR
        END

		SELECT @SQL = 'INSERT INTO ' + @TEMPOUTPUTTABLENAME + ' VALUES (''DATA LOAD COMPLETE.'')' 
		EXEC SP_EXECUTESQL @SQL



CLEANUP:
	DROP TABLE #SQLLDROUTPUT
	DROP TABLE #SQLLDRINPUT

	SELECT    @sql = 'bcp "select EVENTTEXT FROM ' + @TEMPOUTPUTTABLENAME + ' " queryout ' + @FINLOGFILENAME + ' -SSBGETL -T -c'
	-- execute BCP
	Exec master..xp_cmdshell @sql

	SELECT @SQL = 'DROP TABLE ' + @TEMPOUTPUTTABLENAME 
	EXEC SP_EXECUTESQL @SQL
	  
  RETURN

E_ERROR:

	SELECT @SQL = 'INSERT INTO ' + @TEMPOUTPUTTABLENAME + ' VALUES (''ERROR IS AS FOLLOWS: ' + @ERRORRESULTS + ''')' 
	EXEC SP_EXECUTESQL @SQL


GOTO CLEANUP


GO
