USE [Core1]
GO
/****** Object:  StoredProcedure [dbo].[USP_GenIDCPSalesPartyCommunication]    Script Date: 12/31/2024 8:49:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USP_GenIDCPSalesPartyCommunication]
 AS

	/*
	CREATE DATETIME: Jul  7 2008  4:03PM
	COMMENTS: THIS PROCEDURE LOADS THE GenIDCPSalesPartyCommunication TABLE PULLING FROM THE COM_SALES_PARTY_CMMNCTN COMMON TABLE.
	*/

	SET NOCOUNT ON
	SET LOCK_TIMEOUT -1


	INSERT INTO GenIDCPSalesPartyCommunication
	(SOURCESYSTEM,SOURCESYSTEMKEY1,SOURCESYSTEMKEY2,SOURCESYSTEMKEY3,SOURCESYSTEMKEY4,SOURCESYSTEMKEY5,JOBID)
	SELECT DISTINCT A.SALES_PARTY_CMMNCTN_SRC_TEXT,ISNULL(A.SALES_PARTY_CMMNCTN1_KEY,'^'),ISNULL(A.SALES_PARTY_CMMNCTN2_KEY,'^'),ISNULL(A.SALES_PARTY_CMMNCTN3_KEY,'^'),ISNULL(A.SALES_PARTY_CMMNCTN4_KEY,'^'),ISNULL(A.SALES_PARTY_CMMNCTN5_KEY,'^'), ISNULL(A.JOB_ID,1)
	FROM COM_SALES_PARTY_CMMNCTN A
	LEFT OUTER JOIN
	GenIDCPSalesPartyCommunication B
	ON A.SALES_PARTY_CMMNCTN_SRC_TEXT = B.SOURCESYSTEM AND ISNULL(A.SALES_PARTY_CMMNCTN1_KEY,'^') = B.SOURCESYSTEMKEY1 AND ISNULL(A.SALES_PARTY_CMMNCTN2_KEY,'^') = B.SOURCESYSTEMKEY2 AND ISNULL(A.SALES_PARTY_CMMNCTN3_KEY,'^') = B.SOURCESYSTEMKEY3 AND ISNULL(A.SALES_PARTY_CMMNCTN4_KEY,'^') = B.SOURCESYSTEMKEY4 AND ISNULL(A.SALES_PARTY_CMMNCTN5_KEY,'^') = B.SOURCESYSTEMKEY5
	WHERE B.SOURCESYSTEM IS NULL 

	
RETURN 

GO
