USE [Core1]
GO
/****** Object:  StoredProcedure [dbo].[USP_GENIDBPAGREEMENTPARTYPOSTALADDRESS]    Script Date: 12/31/2024 8:49:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USP_GENIDBPAGREEMENTPARTYPOSTALADDRESS] AS

	/*
	CREATE DATETIME: Feb  8 2005  9:27AM
	COMMENTS: THIS PROCEDURE LOADS THE GENIDBPAGREEMENTPARTYPOSTALADDRESS TABLE PULLING FROM THE COM_POSTAL_ADDR COMMON TABLE.
	*/

	SET NOCOUNT ON
	SET LOCK_TIMEOUT -1

	INSERT INTO GENIDBPAGREEMENTPARTYPOSTALADDRESS
	(SOURCESYSTEM,
	SOURCESYSTEMKEY1,
	SOURCESYSTEMKEY2,
	SOURCESYSTEMKEY3,
	SOURCESYSTEMKEY4,
	SOURCESYSTEMKEY5,
	SOURCESYSTEMKEY6,
	JOBID
	)
	SELECT DISTINCT A.POSTAL_ADDR_SRC_TEXT,
	ISNULL(A.POSTAL_ADDR1_KEY,'^'),
	ISNULL(A.POSTAL_ADDR2_KEY,'^'),
	ISNULL(A.POSTAL_ADDR3_KEY,'^'),
	ISNULL(A.POSTAL_ADDR4_KEY,'^'),
	ISNULL(A.POSTAL_ADDR5_KEY,'^'),
	ISNULL(A.POSTAL_ADDR6_KEY,'^'),
	ISNULL(A.JOB_ID,1)
	FROM COM_POSTAL_ADDR A
	LEFT OUTER JOIN GENIDBPAGREEMENTPARTYPOSTALADDRESS B	ON A.POSTAL_ADDR_SRC_TEXT = B.SOURCESYSTEM 
															AND ISNULL(A.POSTAL_ADDR1_KEY,'^') = B.SOURCESYSTEMKEY1 
															AND ISNULL(A.POSTAL_ADDR2_KEY,'^') = B.SOURCESYSTEMKEY2 
															AND ISNULL(A.POSTAL_ADDR3_KEY,'^') = B.SOURCESYSTEMKEY3 
															AND ISNULL(A.POSTAL_ADDR4_KEY,'^') = B.SOURCESYSTEMKEY4 
															AND ISNULL(A.POSTAL_ADDR5_KEY,'^') = B.SOURCESYSTEMKEY5
															AND ISNULL(A.POSTAL_ADDR6_KEY,'^') = B.SOURCESYSTEMKEY6 
	WHERE B.SOURCESYSTEM IS NULL 
	AND A.POSTAL_ADDR_ASSOC_TYPE_CODE = 'AGRMNT' 
    AND A.ADU IN ('A','U')

RETURN 


GO
