USE [Core1]
GO
/****** Object:  StoredProcedure [dbo].[Proc_SEC22C2_TRAC_Populate_COR_SEC22C2_RSTRCT_TRADE]    Script Date: 12/31/2024 8:49:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE         PROCEDURE [dbo].[Proc_SEC22C2_TRAC_Populate_COR_SEC22C2_RSTRCT_TRADE] AS

DECLARE @JobID INT;

SET @JobID = (SELECT MAX(JobID)
              FROM MC_JobID
              INNER JOIN MC_SourceFile
              ON MC_JobID.SourceFileID = MC_SourceFile.SourceFileID
              WHERE FileName = '0165_RestrictDeltaOMNI_Data.dat'
              AND SysProcessedLogID = (SELECT MAX(SysProcessedLogID)
                                       FROM MC_SysProcessedLog
                                       WHERE SystemID = 4));

INSERT INTO COREETL.dbo.COR_SEC22C2_RSTRCT_TRADE
(
	SRC_FUND_ID,
	AGRMNT_ID,
	RSTRCT_TRADE_LEVEL_TYPE_CODE,
	JOB_ID,
	DATETIMESTAMP,
	RSTRCT_TRADE_FROM_DATE,
	RSTRCT_TRADE_THRU_DATE,
	REC_INSRT_NAME,
	ADU
)
SELECT DISTINCT
	SRC_FUND_ID,
	AGRMNT_ID,
	RESTRCT_LEVEL_CODE,
	@JobID AS JobID,
	GETDATE() AS DATETIMESTAMP,
	CASE WHEN AUD = 'A' THEN GETDATE() END AS RSTRCT_TRADE_FROM_DATE,
	CASE WHEN AUD = 'D' THEN GETDATE() ELSE '12/31/2999' END AS RSTRCT_TRADE_THRU_DATE,
	CASE WHEN AUD = 'A' THEN '283' ELSE '284' END AS REC_INSRT_NAME,
	AUD AS ADU
From SEC22C2_RESTRICT_DELTA_TRAC;

RETURN

GO
