USE [Core1]
GO
/****** Object:  StoredProcedure [dbo].[USP_GENIDBPBUSINESSPARTY]    Script Date: 12/31/2024 8:49:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[USP_GENIDBPBUSINESSPARTY]
 AS

	/*
	CREATE DATETIME: Jul  7 2008  4:03PM
	COMMENTS: THIS PROCEDURE LOADS THE GENIDBPBUSINESSPARTY TABLE PULLING FROM THE COM_BUS_PARTY COMMON TABLE.
	*/

	SET NOCOUNT ON
	SET LOCK_TIMEOUT -1


	INSERT INTO GENIDBPBUSINESSPARTY
	(
	SOURCESYSTEM,
	SOURCESYSTEMKEY1,
	SOURCESYSTEMKEY2,
	SOURCESYSTEMKEY3,
	SOURCESYSTEMKEY4,
	SourceSystemKey5,
	JOBID
	)
	SELECT DISTINCT 
	A.BUS_PARTY_SRC_TEXT,
	ISNULL(A.BUS_PARTY1_KEY,'^'),
	ISNULL(A.BUS_PARTY2_KEY,'^'),
	ISNULL(A.BUS_PARTY3_KEY,'^'),
	ISNULL(A.BUS_PARTY4_KEY,'^'), 
	ISNULL(A.BUS_PARTY5_KEY,'^'),
	ISNULL(A.JOB_ID,1)
	FROM COM_BUS_PARTY A
	LEFT OUTER JOIN	GENIDBPBUSINESSPARTY B	ON A.BUS_PARTY_SRC_TEXT = B.SOURCESYSTEM 
	AND ISNULL(A.BUS_PARTY1_KEY,'^') = B.SOURCESYSTEMKEY1
	AND ISNULL(A.BUS_PARTY2_KEY,'^') = B.SOURCESYSTEMKEY2 
	AND ISNULL(A.BUS_PARTY3_KEY,'^') = B.SOURCESYSTEMKEY3 
	AND ISNULL(A.BUS_PARTY4_KEY,'^') = B.SOURCESYSTEMKEY4
	AND ISNULL(A.BUS_PARTY5_KEY,'^') = B.SOURCESYSTEMKEY5
	WHERE B.SOURCESYSTEM IS NULL 

	
RETURN 






GO
