USE [Core1]
GO
/****** Object:  StoredProcedure [dbo].[USP_GenIDCPSalesPartyLicenseAppointment]    Script Date: 12/31/2024 8:49:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USP_GenIDCPSalesPartyLicenseAppointment]
 AS

	/*
	CREATE DATETIME: Jul  7 2008  4:03PM
	COMMENTS: THIS PROCEDURE LOADS THE GenIDCPSalesPartyLicenseAppointment TABLE PULLING FROM THE COM_SALES_PARTY_LIC_APPT COMMON TABLE.
	*/

	SET NOCOUNT ON
	SET LOCK_TIMEOUT -1


	INSERT INTO GenIDCPSalesPartyLicenseAppointment
	(SOURCESYSTEM,SOURCESYSTEMKEY1,SOURCESYSTEMKEY2,SOURCESYSTEMKEY3,SOURCESYSTEMKEY4,SOURCESYSTEMKEY5,JOBID)
	SELECT DISTINCT A.SALES_PARTY_LIC_APPT_SRC_TEXT,ISNULL(A.SALES_PARTY_LIC_APPT1_KEY,'^'),ISNULL(A.SALES_PARTY_LIC_APPT2_KEY,'^'),ISNULL(A.SALES_PARTY_LIC_APPT3_KEY,'^'),ISNULL(A.SALES_PARTY_LIC_APPT4_KEY,'^'),ISNULL(A.SALES_PARTY_LIC_APPT5_KEY,'^'), ISNULL(A.JOB_ID,1)
	FROM COM_SALES_PARTY_LIC_APPT A
	LEFT OUTER JOIN
	GenIDCPSalesPartyLicenseAppointment B
	ON A.SALES_PARTY_LIC_APPT_SRC_TEXT = B.SOURCESYSTEM AND ISNULL(A.SALES_PARTY_LIC_APPT1_KEY,'^') = B.SOURCESYSTEMKEY1 AND ISNULL(A.SALES_PARTY_LIC_APPT2_KEY,'^') = B.SOURCESYSTEMKEY2 AND ISNULL(A.SALES_PARTY_LIC_APPT3_KEY,'^') = B.SOURCESYSTEMKEY3 AND ISNULL(A.SALES_PARTY_LIC_APPT4_KEY,'^') = B.SOURCESYSTEMKEY4 AND ISNULL(A.SALES_PARTY_LIC_APPT5_KEY,'^') = B.SOURCESYSTEMKEY5
	WHERE B.SOURCESYSTEM IS NULL 

	
RETURN 

GO
