USE [Core1]
GO
/****** Object:  StoredProcedure [dbo].[USP_GENIDBPBUSINESSPARTYELECTRONICADDRESS]    Script Date: 12/31/2024 8:49:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USP_GENIDBPBUSINESSPARTYELECTRONICADDRESS]
 AS

	/*
	CREATE DATETIME: Jul  7 2008  4:03PM
	COMMENTS: THIS PROCEDURE LOADS THE GENIDBPBUSINESSPARTYELECTRONICADDRESS TABLE PULLING FROM THE COM_ELCTRNC_ADDR COMMON TABLE.
	*/

	SET NOCOUNT ON
	SET LOCK_TIMEOUT -1


	INSERT INTO GENIDBPBUSINESSPARTYELECTRONICADDRESS
	(SOURCESYSTEM,SOURCESYSTEMKEY1,SOURCESYSTEMKEY2,SOURCESYSTEMKEY3,SOURCESYSTEMKEY4,SOURCESYSTEMKEY5,JOBID)
	SELECT DISTINCT A.ELCTRNC_ADDR_SRC_TEXT,ISNULL(A.ELCTRNC_ADDR1_KEY,'^'),ISNULL(A.ELCTRNC_ADDR2_KEY,'^'),ISNULL(A.ELCTRNC_ADDR3_KEY,'^'),ISNULL(A.ELCTRNC_ADDR4_KEY,'^'),ISNULL(A.ELCTRNC_ADDR5_KEY,'^'), ISNULL(A.JOB_ID,1)
	FROM COM_ELCTRNC_ADDR A
	LEFT OUTER JOIN
	GENIDBPBUSINESSPARTYELECTRONICADDRESS B
	ON A.ELCTRNC_ADDR_SRC_TEXT = B.SOURCESYSTEM AND ISNULL(A.ELCTRNC_ADDR1_KEY,'^') = B.SOURCESYSTEMKEY1 AND ISNULL(A.ELCTRNC_ADDR2_KEY,'^') = B.SOURCESYSTEMKEY2 AND ISNULL(A.ELCTRNC_ADDR3_KEY,'^') = B.SOURCESYSTEMKEY3 AND ISNULL(A.ELCTRNC_ADDR4_KEY,'^') = B.SOURCESYSTEMKEY4 AND ISNULL(A.ELCTRNC_ADDR5_KEY,'^') = B.SOURCESYSTEMKEY5
	WHERE B.SOURCESYSTEM IS NULL 
	AND A.ELCTRNC_ADDR_ASSOC_TYPE_CODE = 'BUS'

	
RETURN 




GO
