USE [Core1]
GO
/****** Object:  StoredProcedure [dbo].[Proc_ETL_Truncate_CoreETL_Fin_Tables]    Script Date: 12/31/2024 8:49:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Proc_ETL_Truncate_CoreETL_Fin_Tables] AS

DECLARE	@TABLENAME VARCHAR(50)
DECLARE @CMD NVARCHAR(4000)
---
-- Build a cursor of files that need Job ID.
---
Declare ExecCursor Cursor Local Fast_Forward For
	SELECT TABLE_NAME FROM coreetl.information_schema.tables
	WHERE TABLE_TYPE = 'BASE TABLE'
	  AND ( TABLE_NAME LIKE 'COR_%' OR TABLE_NAME LIKE 'ARC_%')
      AND TABLE_NAME IN (
'COR_TRNSCTN_DETAIL',
'COR_DSBRSMNT_DTL',
'COR_X_FUND_DETAIL',
'COR_X_CONTRIB_DETAIL',
'COR_X_LOAN_FUND_DTL',
'COR_ASSET_TRNSCTN',
'COR_LOAN_ASSET_REC',
'COR_INVSTR_ASSET_DRVD_VALUE',
'COR_ASSET_SOURCE_DETAIL',
'COR_AGED_PRM_CNTRBTN',
'COR_FIXED_ASSET_SRC_DTL',
'COR_INVSTR_ASSET_REC',
'COR_LOAN_FUND_ASSET_SRC_DTL',
'COR_PAYOUT_VALUE', --added for issue 3995
'ARC_TRNSCTN_DETAIL',
'ARC_DSBRSMNT_DTL',
'ARC_X_FUND_DETAIL',
'ARC_X_CONTRIB_DETAIL',
'ARC_X_LOAN_FUND_DTL',
'ARC_ASSET_TRNSCTN',
'ARC_LOAN_ASSET_REC',
'ARC_INVSTR_ASSET_DRVD_VALUE',
'ARC_ASSET_SOURCE_DETAIL',
'ARC_AGED_PRM_CNTRBTN',
'ARC_FIXED_ASSET_SRC_DTL',
'ARC_INVSTR_ASSET_REC',
'ARC_LOAN_FUND_ASSET_SRC_DTL'
)
Open ExecCursor
Fetch Next From ExecCursor Into @TABLENAME

While (@@Fetch_Status <> -1)
Begin

	--BUILD COMMAND TO EXECUTE ORACLE PROC
	SELECT @CMD =  'TRUNCATE TABLE COREETL.dbo.' + @TABLENAME + ';'

	--EXECUTE COMMAND INTO TEMP TABLE
	EXEC SP_EXECUTESQL @CMD

	Fetch Next From ExecCursor Into @TABLENAME

End

Close ExecCursor
Deallocate ExecCursor

Return




GO
