USE [Core1]
GO
/****** Object:  StoredProcedure [dbo].[USP_GENIDBPAGREEMENTPARTYCOMMUNICATION]    Script Date: 12/31/2024 8:49:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USP_GENIDBPAGREEMENTPARTYCOMMUNICATION] AS

	/*
	CREATE DATETIME: Feb  8 2005  9:27AM
	COMMENTS: THIS PROCEDURE LOADS THE GENIDBPAGREEMENTPARTYCOMMUNICATION TABLE PULLING FROM THE COM_AGRMNT_PARTY_CMMNCTN COMMON TABLE.
	*/

	SET NOCOUNT ON
	SET LOCK_TIMEOUT -1

	INSERT INTO GENIDBPAGREEMENTPARTYCOMMUNICATION
	(SOURCESYSTEM,SOURCESYSTEMKEY1,SOURCESYSTEMKEY2,SOURCESYSTEMKEY3,SOURCESYSTEMKEY4,SOURCESYSTEMKEY5,SOURCESYSTEMKEY6,SOURCESYSTEMKEY7,JOBID)
	SELECT DISTINCT A.AGRMNT_PARTY_CMMNCTN_SRC_TEXT,ISNULL(A.AGRMNT_PARTY_CMMNCTN1_KEY,'^'),ISNULL(A.AGRMNT_PARTY_CMMNCTN2_KEY,'^'),ISNULL(A.AGRMNT_PARTY_CMMNCTN3_KEY,'^'),ISNULL(A.AGRMNT_PARTY_CMMNCTN4_KEY,'^'),ISNULL(A.AGRMNT_PARTY_CMMNCTN5_KEY,'^'),ISNULL(A.AGRMNT_PARTY_CMMNCTN6_KEY,'^'),ISNULL(A.AGRMNT_PARTY_CMMNCTN7_KEY,'^'), ISNULL(A.JOB_ID,1)
	FROM COM_AGRMNT_PARTY_CMMNCTN A
	LEFT OUTER JOIN
	GENIDBPAGREEMENTPARTYCOMMUNICATION B
	ON A.AGRMNT_PARTY_CMMNCTN_SRC_TEXT = B.SOURCESYSTEM AND ISNULL(A.AGRMNT_PARTY_CMMNCTN1_KEY,'^') = B.SOURCESYSTEMKEY1 AND ISNULL(A.AGRMNT_PARTY_CMMNCTN2_KEY,'^') = B.SOURCESYSTEMKEY2 AND ISNULL(A.AGRMNT_PARTY_CMMNCTN3_KEY,'^') = B.SOURCESYSTEMKEY3 AND ISNULL(A.AGRMNT_PARTY_CMMNCTN4_KEY,'^') = B.SOURCESYSTEMKEY4 AND ISNULL(A.AGRMNT_PARTY_CMMNCTN5_KEY,'^') = B.SOURCESYSTEMKEY5 AND ISNULL(A.AGRMNT_PARTY_CMMNCTN6_KEY,'^') = B.SOURCESYSTEMKEY6 AND ISNULL(A.AGRMNT_PARTY_CMMNCTN7_KEY,'^') = B.SOURCESYSTEMKEY7
	WHERE B.SOURCESYSTEM IS NULL  
        AND A.ADU IN ('A','U')

RETURN 


GO
