USE [Core1]
GO
/****** Object:  StoredProcedure [dbo].[Proc_ETL_Truncate_CoreETL_Tables]    Script Date: 12/31/2024 8:49:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE	[dbo].[Proc_ETL_Truncate_CoreETL_Tables] AS

DECLARE	@TABLENAME	VARCHAR(50)
DECLARE @CMD		NVARCHAR(4000)

-- Build a cursor of files that need Job ID.

DECLARE	ExecCursor	Cursor Local Fast_Forward For
SELECT	TABLE_NAME
FROM	COREETL.INFORMATION_SCHEMA.TABLES
WHERE	TABLE_TYPE		=	 'BASE TABLE'
AND		(TABLE_NAME		LIKE 'COR_%' 
OR		TABLE_NAME		LIKE 'ARC_%')
AND		TABLE_SCHEMA	=	 'DBO'

OPEN EXECCURSOR
FETCH NEXT FROM EXECCURSOR INTO @TABLENAME

WHILE (@@FETCH_STATUS <> -1)
BEGIN

 --BUILD COMMAND TO EXECUTE ORACLE PROC
 SELECT @CMD =  'TRUNCATE TABLE COREETL.DBO.' + @TABLENAME + ';'

 --EXECUTE COMMAND INTO TEMP TABLE
 EXEC SP_EXECUTESQL @CMD

 FETCH NEXT FROM EXECCURSOR INTO @TABLENAME

END

CLOSE EXECCURSOR
DEALLOCATE EXECCURSOR

RETURN
GO
