USE [Core1]
GO
/****** Object:  StoredProcedure [dbo].[USP_GENIDBPAGREEMENTPARTY]    Script Date: 12/31/2024 8:49:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[USP_GENIDBPAGREEMENTPARTY] AS

	/*
	CREATE DATETIME: Feb  8 2005  9:27AM
	COMMENTS: THIS PROCEDURE LOADS THE GENIDBPAGREEMENTPARTY TABLE PULLING FROM THE COM_X_AGRMNT_PARTY COMMON TABLE.
	*/

	SET NOCOUNT ON
	SET LOCK_TIMEOUT -1

	INSERT INTO GENIDBPAGREEMENTPARTY
	(
	SOURCESYSTEM,
	SOURCESYSTEMKEY1,
	SOURCESYSTEMKEY2,
	SOURCESYSTEMKEY3,
	SOURCESYSTEMKEY4,
	SOURCESYSTEMKEY5,
	SOURCESYSTEMKEY6,
	JOBID
	)
	SELECT DISTINCT 
	A.AGRMNT_PARTY_SRC_TEXT,
	ISNULL(A.AGRMNT_PARTY1_KEY,'^'),
	ISNULL(A.AGRMNT_PARTY2_KEY,'^'),
	ISNULL(A.AGRMNT_PARTY3_KEY,'^'),
	ISNULL(A.AGRMNT_PARTY4_KEY,'^'),
	ISNULL(A.AGRMNT_PARTY5_KEY,'^'),
	ISNULL(A.AGRMNT_PARTY6_KEY,'^'), 
	ISNULL(A.JOB_ID,1)
	FROM COM_X_AGRMNT_PARTY A
	LEFT OUTER JOIN GENIDBPAGREEMENTPARTY B	ON A.AGRMNT_PARTY_SRC_TEXT = B.SOURCESYSTEM 
										AND ISNULL(A.AGRMNT_PARTY1_KEY,'^') = B.SOURCESYSTEMKEY1 
										AND ISNULL(A.AGRMNT_PARTY2_KEY,'^') = B.SOURCESYSTEMKEY2 
										AND ISNULL(A.AGRMNT_PARTY3_KEY,'^') = B.SOURCESYSTEMKEY3 
										AND ISNULL(A.AGRMNT_PARTY4_KEY,'^') = B.SOURCESYSTEMKEY4 
										AND ISNULL(A.AGRMNT_PARTY5_KEY,'^') = B.SOURCESYSTEMKEY5 
										AND ISNULL(A.AGRMNT_PARTY6_KEY,'^') = B.SOURCESYSTEMKEY6
	WHERE B.SOURCESYSTEM IS NULL 
    AND A.ADU IN ('A','U')

RETURN 



GO
