USE [Core1]
GO
/****** Object:  StoredProcedure [dbo].[Proc_PSRecon_TXN_Analysis]    Script Date: 12/31/2024 8:49:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- This proc is created from the DTS package PSRecon_TXN_Analysis

CREATE PROC [dbo].[Proc_PSRecon_TXN_Analysis]
AS

--Truncate the Records
TRUNCATE TABLE PRM_MSSNG_TXN_CMBNTN;
TRUNCATE TABLE PRM_MSSNG_TXN_SSDATA;
TRUNCATE TABLE PRM_MSSNG_TXN_ERRORS;


INSERT INTO PRM_MSSNG_TXN_CMBNTN
SELECT * FROM OPENQUERY(COREPRD,'SELECT * FROM SBGCORE.PRM_MSSNG_TXN_CMBNTN');


INSERT INTO PRM_MSSNG_TXN_SSDATA
SELECT	SUBSTRING(MNTC_SYSTEM_CODE,1,4) SYSTEM_CODE,
	DETAIL_TYPE_CODE,
	TRANSACTION_TYPE_CODE,
	SUBTYPE_CODE,
	TRANSACTION_REASON_CODE,
	ORIGINAL_SOURCE_DTL_TYPE,
	ORIGINAL_SOURCE_TRAN_TYPE,
	ORIGINAL_SOURCE_SUBTYPE,
	ORIGINAL_SOURCE_TRAN_REASON,
	CONVERT(CHAR(10),DATETIMESTAMP,101) AS DATETIMESTAMP,
	COUNT(DISTINCT TRANSACTION_ID) TRN_CNT,
	COUNT(1) TRN_DTL_CNT
FROM PRM_MSSNG_TXN_CMBNTN
WHERE TRANSACTION_TYPE_CODE+SUBTYPE_CODE+TRANSACTION_REASON_CODE+DETAIL_TYPE_CODE NOT LIKE '%XXXX%'
GROUP BY SUBSTRING(MNTC_SYSTEM_CODE,1,4),
	DETAIL_TYPE_CODE,
	TRANSACTION_TYPE_CODE,
	SUBTYPE_CODE,
	TRANSACTION_REASON_CODE,
	ORIGINAL_SOURCE_DTL_TYPE,
	ORIGINAL_SOURCE_TRAN_TYPE,
	ORIGINAL_SOURCE_SUBTYPE,
	ORIGINAL_SOURCE_TRAN_REASON,
	CONVERT(CHAR(10),DATETIMESTAMP,101);


INSERT INTO PRM_MSSNG_TXN_ERRORS
SELECT	SUBSTRING(MNTC_SYSTEM_CODE,1,4) SYSTEM_CODE,
	DETAIL_TYPE_CODE,
	TRANSACTION_TYPE_CODE,
	SUBTYPE_CODE,
	TRANSACTION_REASON_CODE,
	ORIGINAL_SOURCE_DTL_TYPE,
	ORIGINAL_SOURCE_TRAN_TYPE,
	ORIGINAL_SOURCE_SUBTYPE,
	ORIGINAL_SOURCE_TRAN_REASON,
	CONVERT(CHAR(10),DATETIMESTAMP,101) AS DATETIMESTAMP,
	COUNT(DISTINCT TRANSACTION_ID) TRN_CNT,
	COUNT(1) TRN_DTL_CNT
FROM
	PRM_MSSNG_TXN_CMBNTN
WHERE TRANSACTION_TYPE_CODE+SUBTYPE_CODE+TRANSACTION_REASON_CODE+DETAIL_TYPE_CODE LIKE '%XXXX%'
GROUP BY SUBSTRING(MNTC_SYSTEM_CODE,1,4),
	DETAIL_TYPE_CODE,
	TRANSACTION_TYPE_CODE,
	SUBTYPE_CODE,
	TRANSACTION_REASON_CODE,
	ORIGINAL_SOURCE_DTL_TYPE,
	ORIGINAL_SOURCE_TRAN_TYPE,
	ORIGINAL_SOURCE_SUBTYPE,
	ORIGINAL_SOURCE_TRAN_REASON,
	CONVERT(CHAR(10),DATETIMESTAMP,101);


GO
